n8n-workflows/agent-social-optimizer.json
{
    "name": "Clarence Agent: YouTube & LinkedIn Optimizer",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generate-marketing-copy",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "agent-marketing-generator"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.anthropic.com/v1/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "={{ $credentials.apiKey }}"
                        },
                        {
                            "name": "anthropic-version",
                            "value": "2023-06-01"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "claude-3-5-sonnet-20240620"
                        },
                        {
                            "name": "max_tokens",
                            "value": 1024
                        },
                        {
                            "name": "messages",
                            "value": "=[{\"role\": \"user\", \"content\": \"Video Title: {{ $json.body.videoTitle }}\\n\\nNotes from recording:\\n{{ $json.body.videoNotes }}\\n\\nTask: Based on the Clarence 'Honest Broker' principles (neutrality, transparency, fairness), generate an optimized YouTube Title and a detailed YouTube description for this video. Format as JSON with keys 'title' and 'description'. Do not use overly salesy language. Emphasize that we are building agreements, not arguments.\"}]"
                        }
                    ]
                },
                "options": {}
            },
            "id": "anthropic-youtube-http",
            "name": "HTTP: Generate YouTube Copy",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                500,
                200
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "anthropic_api",
                    "name": "Anthropic API Key"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.anthropic.com/v1/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "={{ $credentials.apiKey }}"
                        },
                        {
                            "name": "anthropic-version",
                            "value": "2023-06-01"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "claude-3-5-sonnet-20240620"
                        },
                        {
                            "name": "max_tokens",
                            "value": 1024
                        },
                        {
                            "name": "messages",
                            "value": "=[{\"role\": \"user\", \"content\": \"Video Title: {{ $('Webhook').first().json.body.videoTitle }}\\n\\nNotes from recording:\\n{{ $('Webhook').first().json.body.videoNotes }}\\n\\nTask: Based on the Clarence 'Honest Broker' principles, generate a compelling LinkedIn post to promote this upcoming video. The tone should be calm, authoritative, fair, and sophisticated—challenging the 'ancient art' of adversarial law. Use appropriate spacing, 1-2 emojis max, and 3-4 hashtags (e.g., #LegalTech #HonestBroker #ContractMediation). Return ONLY the verbatim text of the post.\"}]"
                        }
                    ]
                },
                "options": {}
            },
            "id": "anthropic-linkedin-http",
            "name": "HTTP: Generate LinkedIn Copy",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                750,
                200
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "anthropic_api",
                    "name": "Anthropic API Key"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const ytResponse = JSON.parse($('HTTP: Generate YouTube Copy').first().json.content[0].text);\nconst linkedinResponse = $('HTTP: Generate LinkedIn Copy').first().json.content[0].text;\nconst videoId = $('Webhook').first().json.body.videoId;\n\nreturn [{\n  json: {\n    videoId,\n    youtubeTitle: ytResponse.title,\n    youtubeDescription: ytResponse.description,\n    linkedinPost: linkedinResponse,\n    campaignSource: 'auto_agent_v1'\n  }\n}];"
            },
            "id": "parse-responses",
            "name": "Parse Anthropic Responses",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1000,
                200
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO social_posts \n  (video_id, youtube_title_optimized, youtube_description_optimized, linkedin_post_content, campaign_source)\nVALUES \n  ('{{ $json.videoId }}'::uuid, '{{ $json.youtubeTitle.replace(/'/g, \"''\") }}', '{{ $json.youtubeDescription.replace(/'/g, \"''\") }}', '{{ $json.linkedinPost.replace(/'/g, \"''\") }}', '{{ $json.campaignSource }}')\nON CONFLICT (post_id) DO NOTHING\nRETURNING post_id;",
                "options": {}
            },
            "id": "postgres-upsert",
            "name": "Postgres: Save Drafts",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                1250,
                200
            ],
            "credentials": {
                "postgres": {
                    "id": "ZH5KS5KZA0pid8fg",
                    "name": "Postgres account"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "HTTP: Generate YouTube Copy",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP: Generate YouTube Copy": {
            "main": [
                [
                    {
                        "node": "HTTP: Generate LinkedIn Copy",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP: Generate LinkedIn Copy": {
            "main": [
                [
                    {
                        "node": "Parse Anthropic Responses",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Anthropic Responses": {
            "main": [
                [
                    {
                        "node": "Postgres: Save Drafts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {}
}