n8n-workflows/certify-next-clause.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "certify-next-clause",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -3504,
                -16
            ],
            "id": "0cbe421d-3b59-41fe-80d8-14bb9562d704",
            "name": "Webhook",
            "webhookId": "certify-next-clause-endpoint"
        },
        {
            "parameters": {
                "jsCode": "// ============================================================================\n// VALIDATE INPUT\n// Extract contract_id and position scale context from request body\n// ============================================================================\n\nlet body = $input.first().json.body || $input.first().json || {};\n\nif (typeof body === 'string') {\n  try { body = JSON.parse(body); } catch(e) { throw new Error('Invalid JSON in request body'); }\n}\n\nconst contractId = body.contract_id || body.contractId;\nif (!contractId) throw new Error('contract_id is required');\n\n// Extract position scale context fields (may be null for older triggers)\nconst contractTypeKey = body.contract_type_key || body.contractTypeKey || null;\nconst initiatorPartyRole = body.initiator_party_role || body.initiatorPartyRole || null;\n\nconsole.log('=== CERTIFY NEXT CLAUSE ===' );\nconsole.log('Contract ID:', contractId);\nconsole.log('Contract Type Key:', contractTypeKey);\nconsole.log('Initiator Party Role:', initiatorPartyRole);\n\n// Pass through roleContext if provided by the API (canonical Role Matrix labels)\nconst roleContext = body.roleContext || null;\n\nreturn { json: { contractId, contractTypeKey, initiatorPartyRole, roleContext } };\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -3280,
                -16
            ],
            "id": "39260f10-cc23-4510-acab-6a85732680a0",
            "name": "Validate Input"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "-- Get the next pending clause that is NOT a header\n-- Also get progress stats for the response\nSELECT \n  c.clause_id,\n  c.clause_number,\n  c.clause_name,\n  c.category,\n  c.content as snippet,\n  c.display_order,\n  (SELECT COUNT(*) FROM uploaded_contract_clauses WHERE contract_id = $1::uuid AND status = 'certified' AND COALESCE(is_header, false) = false) as certified_count,\n  (SELECT COUNT(*) FROM uploaded_contract_clauses WHERE contract_id = $1::uuid AND COALESCE(is_header, false) = false) as total_certifiable,\n  (SELECT COUNT(*) FROM uploaded_contract_clauses WHERE contract_id = $1::uuid AND status = 'failed' AND COALESCE(is_header, false) = false) as failed_count\nFROM uploaded_contract_clauses c\nWHERE c.contract_id = $1::uuid \n  AND c.status = 'pending' \n  AND COALESCE(c.is_header, false) = false\nORDER BY c.display_order ASC \nLIMIT 1;",
                "options": {
                    "queryReplacement": "={{ [$('Validate Input').first().json.contractId] }}"
                }
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                -3056,
                -16
            ],
            "id": "c7b70728-88af-4c5c-bee4-e63504e60bee",
            "name": "Get Next Pending Clause",
            "alwaysOutputData": true,
            "credentials": {
                "postgres": {
                    "id": "ZH5KS5KZA0pid8fg",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// ============================================================================\n// CHECK IF WE HAVE A PENDING CLAUSE\n// If Postgres returned no rows, clause_id will be undefined\n// ============================================================================\n\nconst result = $input.first().json;\nconst hasPending = !!(result && result.clause_id);\n\nconsole.log('Has pending clause:', hasPending);\nif (hasPending) {\n  console.log('Next clause:', result.clause_number, '-', result.clause_name);\n  console.log('Progress:', result.certified_count, '/', result.total_certifiable, 'certified');\n}\n\nreturn {\n  json: {\n    ...result,\n    contractId: $('Validate Input').first().json.contractId,\n    hasPending\n  }\n};\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2832,
                -16
            ],
            "id": "168fd9ff-a97a-4d9b-8e0d-37d0991ce1b1",
            "name": "Check Result"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": ""
                    },
                    "conditions": [
                        {
                            "id": "check-has-pending",
                            "leftValue": "={{ $json.hasPending }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -2608,
                -16
            ],
            "id": "e65049dd-79e5-4dd3-bd55-1175c6adc393",
            "name": "Has Pending Clause?"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE uploaded_contract_clauses \nSET status = 'processing', processing_started_at = NOW(), updated_at = NOW()\nWHERE clause_id = $1::uuid\nRETURNING clause_id, clause_number, clause_name;",
                "options": {
                    "queryReplacement": "={{ [$('Check Result').first().json.clause_id] }}"
                }
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                -2384,
                -112
            ],
            "id": "83a488ce-8859-4a52-b606-de02e7484c1e",
            "name": "Mark Processing",
            "credentials": {
                "postgres": {
                    "id": "ZH5KS5KZA0pid8fg",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"status\": \"processing\",\n  \"clause_id\": \"{{ $('Check Result').first().json.clause_id }}\",\n  \"clause_number\": \"{{ $('Check Result').first().json.clause_number }}\",\n  \"clause_name\": \"{{ $('Check Result').first().json.clause_name }}\",\n  \"progress\": {\n    \"certified\": {{ $('Check Result').first().json.certified_count || 0 }},\n    \"total\": {{ $('Check Result').first().json.total_certifiable || 0 }},\n    \"failed\": {{ $('Check Result').first().json.failed_count || 0 }}\n  }\n}",
                "options": {
                    "responseCode": 202,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -2160,
                -112
            ],
            "id": "c6e781d2-031b-4439-8965-8834ac767104",
            "name": "Respond 202 Processing"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "-- Get the full document text, contract context, and all clause numbers for boundary detection\nSELECT \n  uc.extracted_text,\n  uc.detected_contract_type,\n  uc.contract_type_key,\n  uc.initiator_party_role,\n  (\n    SELECT json_agg(json_build_object(\n      'clause_number', c.clause_number, \n      'display_order', c.display_order,\n      'snippet', LEFT(c.content, 80)\n    ) ORDER BY c.display_order)\n    FROM uploaded_contract_clauses c\n    WHERE c.contract_id = $1::uuid\n  ) as all_clauses\nFROM uploaded_contracts uc\nWHERE uc.contract_id = $1::uuid;",
                "options": {
                    "queryReplacement": "={{ [$('Validate Input').first().json.contractId] }}"
                }
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                -1936,
                -112
            ],
            "id": "1b7f4388-dab5-4876-a3c8-3e907530b508",
            "name": "Get Document Text",
            "credentials": {
                "postgres": {
                    "id": "ZH5KS5KZA0pid8fg",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// ============================================================================\n// PREPARE CERTIFICATION REQUEST\n// Locate the clause in the document, resolve party labels, build Claude prompt\n// ============================================================================\n\nconst contractId = $(\"Validate Input\").first().json.contractId;\nconst clauseData = $(\"Check Result\").first().json;\nconst docData = $input.first().json;\n\nconst documentText = docData.extracted_text || \"\";\nconst allClauses = docData.all_clauses || [];\nconst contractType = docData.detected_contract_type || \"contract\";\n\n// ---- Resolve contract type and party labels ----\n// Prefer webhook value, fall back to DB value from uploaded_contracts\nconst contractTypeKey = $(\"Validate Input\").first().json.contractTypeKey || docData.contract_type_key || null;\nconst initiatorPartyRole = $(\"Validate Input\").first().json.initiatorPartyRole || docData.initiator_party_role || null;\n\nconst PARTY_LABELS = {\n  'service_agreement':      { protected: 'Customer',         providing: 'Provider' },\n  'saas_agreement':         { protected: 'Subscriber',       providing: 'Provider' },\n  'it_outsourcing':         { protected: 'Customer',         providing: 'Provider' },\n  'bpo_agreement':          { protected: 'Customer',         providing: 'Provider' },\n  'managed_services':       { protected: 'Customer',         providing: 'Provider' },\n  'consultancy_agreement':  { protected: 'Client',           providing: 'Consultant' },\n  'software_license':       { protected: 'Licensee',         providing: 'Licensor' },\n  'maintenance_agreement':  { protected: 'Customer',         providing: 'Service Provider' },\n  'nda_one_way':            { protected: 'Disclosing Party', providing: 'Receiving Party' },\n  'nda_mutual':             { protected: 'Disclosing Parties', providing: 'Receiving Parties' },\n  'lease_agreement':        { protected: 'Tenant',           providing: 'Landlord' },\n  'loan_agreement':         { protected: 'Borrower',         providing: 'Lender' },\n  'insurance_policy':       { protected: 'Policyholder',     providing: 'Insurer' },\n  'sales_agreement':        { protected: 'Buyer',            providing: 'Seller' },\n  'purchase_agreement':     { protected: 'Buyer',            providing: 'Seller' },\n  'distribution_agreement': { protected: 'Distributor',      providing: 'Supplier' },\n  'franchise_agreement':    { protected: 'Franchisee',       providing: 'Franchisor' },\n  'employment_contract':    { protected: 'Employee',         providing: 'Employer' },\n  'construction_contract':  { protected: 'Client',           providing: 'Contractor' },\n  'agency_agreement':       { protected: 'Principal',        providing: 'Agent' },\n};\n\n// Prefer passed roleContext from the API (canonical Role Matrix source), fall back to local map\nconst passedRoleContext = $(\"Validate Input\").first().json.roleContext || null;\nconst labels = passedRoleContext ? { protected: passedRoleContext.protectedPartyLabel, providing: passedRoleContext.providingPartyLabel } : (PARTY_LABELS[contractTypeKey] || { protected: 'Protected Party', providing: 'Providing Party' });\nconst protectedLabel = labels.protected;\nconst providingLabel = labels.providing;\nconst isMutual = contractTypeKey && contractTypeKey.includes('mutual');\n\nconsole.log(\"=== PREPARE CERTIFICATION ===\");\nconsole.log(\"Clause:\", clauseData.clause_number, \"-\", clauseData.clause_name);\nconsole.log(\"Document length:\", documentText.length);\nconsole.log(\"Contract Type Key:\", contractTypeKey);\nconsole.log(\"Party Labels:\", protectedLabel, \"/\", providingLabel);\nconsole.log(\"Is Mutual:\", isMutual);\n\nconst mutualContext = isMutual ? `\\nMUTUAL AGREEMENT NOTE:\\n- Both parties are SIMULTANEOUSLY ${protectedLabel} AND ${providingLabel} in this agreement.\\n- The scale measures DEGREE OF RESTRICTION on information, not which party benefits (both are equally affected).\\n- Low positions (1-4): More PERMISSIVE — greater flexibility in how received information can be used.\\n- High positions (7-10): More RESTRICTIVE — stronger obligations to protect disclosed information.\\n- In your assessment, describe whether the clause is more restrictive or more permissive, not which party it favours.\\n- Example position 3: \"This clause is relatively permissive, allowing greater flexibility for ${providingLabel} in how information is handled.\"\\n- Example position 7: \"This clause is moderately restrictive, imposing stronger obligations to protect information disclosed by ${protectedLabel}.\"\\n` : '';\n\n// ---- Find clause location in document ----\nfunction escapeRegex(str) {\n  return str.replace(/[.*+?^${}()|[\\]\\\\]/g, \"\\\\$&\");\n}\n\nfunction findClauseSection(docText, clauseNum, snippet, clauses) {\n  let startIdx = -1;\n\n  // Strategy 1: Find by snippet text\n  if (snippet && snippet.length > 20) {\n    const clean = snippet.replace(/\\.{3,}$/, \"\").trim();\n    if (clean.length > 15) {\n      const searchStr = clean.substring(0, Math.min(clean.length, 60));\n      startIdx = docText.indexOf(searchStr);\n    }\n  }\n\n  // Strategy 2: Find by clause number pattern\n  if (startIdx === -1) {\n    const escaped = escapeRegex(clauseNum);\n    const patterns = [\n      new RegExp(\"\\\\n\\\\s*\" + escaped + \"[.\\\\s\\\\t]\"),\n      new RegExp(\"\\\\b\" + escaped + \"\\\\b\"),\n    ];\n    for (const p of patterns) {\n      const m = p.exec(docText);\n      if (m) {\n        startIdx = m.index;\n        break;\n      }\n    }\n  }\n\n  // Strategy 3: Find by clause name\n  if (startIdx === -1 && clauseData.clause_name) {\n    startIdx = docText.toLowerCase().indexOf(clauseData.clause_name.toLowerCase());\n  }\n\n  if (startIdx === -1) {\n    console.log(\"WARNING: Could not locate clause in document, using first 10000 chars\");\n    return docText.substring(0, Math.min(docText.length, 10000));\n  }\n\n  // Find end boundary: look for the next clause\n  const currentOrder = (clauses || []).find((c) => c.clause_number === clauseNum)?.display_order || 0;\n  const nextClauses = (clauses || [])\n    .filter((c) => c.display_order > currentOrder)\n    .sort((a, b) => a.display_order - b.display_order);\n\n  let endIdx = startIdx + 20000;\n\n  for (const next of nextClauses.slice(0, 5)) {\n    const nextEscaped = escapeRegex(next.clause_number);\n    try {\n      const nextPattern = new RegExp(\"\\\\n\\\\s*\" + nextEscaped + \"[.\\\\s\\\\t]\");\n      const searchFrom = docText.substring(startIdx + 20);\n      const nextMatch = nextPattern.exec(searchFrom);\n      if (nextMatch) {\n        endIdx = startIdx + 20 + nextMatch.index + 200;\n        break;\n      }\n    } catch (e) { /* skip invalid regex */ }\n  }\n\n  const contextStart = Math.max(0, startIdx - 300);\n  endIdx = Math.min(docText.length, endIdx);\n\n  return docText.substring(contextStart, endIdx);\n}\n\nconst relevantSection = findClauseSection(\n  documentText,\n  clauseData.clause_number,\n  clauseData.snippet,\n  allClauses,\n);\n\nconsole.log(\"Extracted section length:\", relevantSection.length, \"chars\");\n\n// ---- Build Claude prompt with position scale context ----\nconst prompt = `You are CLARENCE — a legal contract certification engine. Your task is to certify ONE specific clause OBJECTIVELY.\n\nCONTRACT TYPE: ${contractType}${contractTypeKey ? ' (' + contractTypeKey + ')' : ''}\n\nPOSITION SCALE (YOU MUST FOLLOW THIS):\n- Position 1: Maximum flexibility for ${providingLabel}\n- Position 2: Strong ${providingLabel} terms\n- Position 3: ${providingLabel}-leaning but reasonable\n- Position 4: Slight ${providingLabel} advantage\n- Position 5: Balanced / Market standard\n- Position 6: Slight ${protectedLabel} advantage\n- Position 7: Moderate protection for ${protectedLabel}\n- Position 8: Strong protection for ${protectedLabel}\n- Position 9: Very high protection for ${protectedLabel}\n- Position 10: Maximum protection for ${protectedLabel}\n\nCRITICAL RULES:\n- The position number you assign and the assessment text MUST be consistent.\n- If you assign position 7, the assessment MUST say it favours/protects ${protectedLabel}.\n- If you assign position 3, the assessment MUST say it favours ${providingLabel}.\n- If you assign position 5, the assessment MUST say it is balanced or market standard.\n- NEVER say a low position (1-4) favours ${protectedLabel}.\n- NEVER say a high position (7-10) favours ${providingLabel}.\n- Use the party labels above (${protectedLabel}/${providingLabel}), NOT generic terms.\n${mutualContext}\nCLAUSE TO CERTIFY:\nNumber: ${clauseData.clause_number}\nName: ${clauseData.clause_name}\nCategory: ${clauseData.category}\n\nDOCUMENT TEXT (section containing this clause):\n---\n${relevantSection}\n---\n\nYOUR TASKS:\n\n1. EXTRACT FULL TEXT: Find clause ${clauseData.clause_number} in the text above. Extract its COMPLETE text - every word until the next clause begins. Do not truncate.\n\n2. POSITION (1.0-10.0 scale): Using the scale above. 1.0 = Maximum flexibility for ${providingLabel}. 10.0 = Maximum protection for ${protectedLabel}.\n\n3. FAIRNESS: One of: \"balanced\", \"slightly_customer_favoring\", \"customer_favoring\", \"heavily_customer_favoring\", \"slightly_provider_favoring\", \"provider_favoring\", \"heavily_provider_favoring\", \"review_recommended\"\\n   - Use \"customer\" side when the clause favours ${protectedLabel} (the protected party)\\n   - Use \"provider\" side when the clause favours ${providingLabel} (the providing party)\\n   - \"slightly\" = positions 4 or 6, \"customer/provider_favoring\" = positions 3 or 7-8, \"heavily\" = positions 1-2 or 9-10\n\n4. SUMMARY: One sentence describing what this clause does.\n\n5. ASSESSMENT: 2-3 sentences explaining your position rating. Use the party labels ${protectedLabel} and ${providingLabel}. The assessment MUST be consistent with the position number per the scale above.\n   - IMPORTANT: Many clauses have MULTIPLE dimensions (e.g., a mediation clause may cover both whether mediation is mandatory AND the notice period). Your assessment must address ALL key dimensions, not just the most easily quantifiable one.\n   - Base the position on the OVERALL effect of the clause considering all its elements together.\n   - Mention specific terms from the clause (e.g., \"mandatory mediation with 30-day notice\" not just \"30 days\").\n\n6. FLAGS: Any concerns, unusual provisions, or missing protections. Empty array if none.\n\n7. VALUE EXTRACTION: If the clause contains a specific quantifiable value (duration, amount, percentage), extract it. Otherwise null.\n\nReturn ONLY valid JSON - no markdown, no backticks, no explanation:\n{\n  \"full_text\": \"The complete clause text...\",\n  \"position\": 6.5,\n  \"fairness\": \"slightly_customer_favoring\",\n  \"summary\": \"This clause establishes...\",\n  \"assessment\": \"This clause provides moderate protection for ${protectedLabel} by...\",\n  \"flags\": [\"Extended payment period\"],\n  \"extracted_value\": \"45\",\n  \"extracted_unit\": \"days\",\n  \"value_type\": \"duration\"\n}`;\n\nconst requestBody = {\n  model: \"claude-sonnet-4-20250514\",\n  max_tokens: 8192,\n  temperature: 0,\n  messages: [{ role: \"user\", content: prompt }],\n};\n\nreturn {\n  json: {\n    contractId,\n    clauseId: clauseData.clause_id,\n    clauseNumber: clauseData.clause_number,\n    clauseName: clauseData.clause_name,\n    claudeRequestBody: requestBody,\n  },\n};\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1712,
                -112
            ],
            "id": "45e5964f-42c5-4303-bdb0-940aa115ad0d",
            "name": "Prepare Certification Request"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.anthropic.com/v1/messages",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "anthropic-version",
                            "value": "2023-06-01"
                        },
                        {
                            "name": "content-type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify($json.claudeRequestBody) }}",
                "options": {
                    "timeout": 120000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -1488,
                -112
            ],
            "id": "45518689-66f5-4f92-a62b-7f5fe8f9b78b",
            "name": "Claude API - Certify Clause",
            "credentials": {
                "anthropicApi": {
                    "id": "4eG4D5QOt4Gf1U1O",
                    "name": "Anthropic account 3"
                },
                "httpHeaderAuth": {
                    "id": "xYYWl2zK5GgqiQf8",
                    "name": "Anthropic API Key"
                }
            },
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "jsCode": "// ============================================================================\n// PROCESS CLAUDE CERTIFICATION RESPONSE\n// Parse the JSON response and prepare for database update\n// ============================================================================\n\nconst input = $('Prepare Certification Request').first().json;\nconst response = $input.first().json;\n\nconsole.log('=== PROCESS CERTIFICATION RESPONSE ===' );\nconsole.log('Clause:', input.clauseNumber, '-', input.clauseName);\n\nconst content = response.content || [];\nconst textBlock = content.find(b => b.type === 'text');\nconst responseText = textBlock?.text || '';\n\n// Parse JSON from response\nlet parsed;\ntry {\n  let jsonStr = responseText.trim();\n  // Strip markdown code fences if present\n  if (jsonStr.startsWith('```')) {\n    jsonStr = jsonStr.replace(/^```json?\\n?/, '').replace(/\\n?```$/, '');\n  }\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  // Try to find JSON object in the response\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0]);\n    } catch(e2) {\n      console.error('Failed to parse response:', responseText.substring(0, 300));\n      throw new Error('Failed to parse certification response as JSON');\n    }\n  } else {\n    console.error('No JSON found in response:', responseText.substring(0, 300));\n    throw new Error('No JSON found in Claude certification response');\n  }\n}\n\nconsole.log('Position:', parsed.position);\nconsole.log('Fairness (raw):', parsed.fairness);\nconsole.log('Full text length:', (parsed.full_text || '').length);\n\n// Validate fairness against DB constraint\nconst VALID_FAIRNESS = ['balanced', 'slightly_customer_favoring', 'customer_favoring', 'heavily_customer_favoring', 'slightly_provider_favoring', 'provider_favoring', 'heavily_provider_favoring', 'review_recommended'];\nlet fairness = parsed.fairness || 'balanced';\nif (!VALID_FAIRNESS.includes(fairness)) {\n  console.warn('Invalid fairness value:', fairness, '- mapping from position');\n  const pos = parseFloat(parsed.position) || 5.0;\n  if (pos >= 4.5 && pos <= 5.5) fairness = 'balanced';\n  else if (pos > 5.5 && pos <= 6.5) fairness = 'slightly_customer_favoring';\n  else if (pos > 6.5 && pos <= 8.0) fairness = 'customer_favoring';\n  else if (pos > 8.0) fairness = 'heavily_customer_favoring';\n  else if (pos >= 3.5 && pos < 4.5) fairness = 'slightly_provider_favoring';\n  else if (pos >= 2.0 && pos < 3.5) fairness = 'provider_favoring';\n  else fairness = 'heavily_provider_favoring';\n  console.log('Mapped fairness to:', fairness);\n}\nconsole.log('Fairness (final):', fairness);\n\n// Sanitize text for SQL\nfunction sanitize(text) {\n  if (!text) return '';\n  return text.replace(/\\u0000/g, '').trim();\n}\n\nreturn {\n  json: {\n    contractId: input.contractId,\n    clauseId: input.clauseId,\n    clauseNumber: input.clauseNumber,\n    fullText: sanitize(parsed.full_text || ''),\n    position: parseFloat(parsed.position) || 5.0,\n    fairness: fairness,\n    summary: sanitize(parsed.summary || ''),\n    assessment: sanitize(parsed.assessment || ''),\n    flags: JSON.stringify(parsed.flags || []),\n    extractedValue: parsed.extracted_value || null,\n    extractedUnit: parsed.extracted_unit || null,\n    valueType: parsed.value_type || null\n  }\n};\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1264,
                -192
            ],
            "id": "650f90f2-b9bb-445b-a8e7-a8a48591db6b",
            "name": "Process Certification Response",
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "-- Update clause with certification results\nUPDATE uploaded_contract_clauses SET \n  status = 'certified',\n  content = CASE WHEN length($2) > length(COALESCE(content, '')) THEN $2 ELSE content END,\n  original_text = CASE WHEN length($2) > length(COALESCE(original_text, '')) THEN $2 ELSE original_text END,\n  clarence_certified = true,\n  clarence_position = $3,\n  clarence_fairness = $4,\n  clarence_summary = $5,\n  clarence_assessment = $6,\n  clarence_flags = $7::jsonb,\n  clarence_certified_at = NOW(),\n  extracted_value = $8,\n  extracted_unit = $9,\n  value_type = $10,\n  updated_at = NOW()\nWHERE clause_id = $1::uuid\nRETURNING clause_id, clause_number, status;",
                "options": {
                    "queryReplacement": "={{ [\n  $json.clauseId,\n  $json.fullText,\n  $json.position,\n  $json.fairness,\n  $json.summary,\n  $json.assessment,\n  $json.flags,\n  $json.extractedValue,\n  $json.extractedUnit,\n  $json.valueType\n] }}"
                }
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                -1040,
                -368
            ],
            "id": "4490e511-316a-430f-81fa-ad961a663872",
            "name": "Update Clause Certified",
            "credentials": {
                "postgres": {
                    "id": "ZH5KS5KZA0pid8fg",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://spikeislandstudios.app.n8n.cloud/webhook/certify-next-clause",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ contract_id: $('Validate Input').first().json.contractId, contract_type_key: $('Validate Input').first().json.contractTypeKey || null, initiator_party_role: $('Validate Input').first().json.initiatorPartyRole || null, roleContext: $('Validate Input').first().json.roleContext || null }) }}",
                "options": {
                    "timeout": 120000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -816,
                -368
            ],
            "id": "78fa87de-eba9-43a2-ba38-6015e8ce9877",
            "name": "Chain Next Clause",
            "continueOnFail": true
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "-- All clauses processed - mark contract as ready\nWITH stats AS (\n  SELECT \n    COUNT(*) FILTER (WHERE status = 'certified') as certified,\n    COUNT(*) FILTER (WHERE status = 'failed') as failed,\n    COUNT(*) FILTER (WHERE COALESCE(is_header, false) = false) as total_certifiable\n  FROM uploaded_contract_clauses\n  WHERE contract_id = $1::uuid\n)\nUPDATE uploaded_contracts\nSET \n  status = 'ready',\n  clause_count = (SELECT total_certifiable FROM stats),\n  parsing_notes = 'Certified: ' || (SELECT certified FROM stats) || '/' || (SELECT total_certifiable FROM stats) || \n    CASE WHEN (SELECT failed FROM stats) > 0 THEN ', Failed: ' || (SELECT failed FROM stats) ELSE '' END,\n  processed_at = NOW(),\n  updated_at = NOW()\nWHERE contract_id = $1::uuid\nRETURNING contract_id, status, clause_count, parsing_notes;",
                "options": {
                    "queryReplacement": "={{ [$('Validate Input').first().json.contractId] }}"
                }
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                -2384,
                80
            ],
            "id": "9381d610-7080-4940-904f-af9f0bc8e878",
            "name": "Mark Contract Ready",
            "credentials": {
                "postgres": {
                    "id": "ZH5KS5KZA0pid8fg",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"status\": \"complete\",\n  \"contract_id\": \"{{ $('Validate Input').first().json.contractId }}\",\n  \"message\": \"All clauses certified\",\n  \"stats\": {{ JSON.stringify($('Mark Contract Ready').first().json) }}\n}",
                "options": {
                    "responseCode": 200,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -2160,
                80
            ],
            "id": "1a6f9b77-baaf-493b-a7d7-0d110828228f",
            "name": "Respond Complete"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "-- Mark clause as failed so chain continues to next\nUPDATE uploaded_contract_clauses \nSET \n  status = 'failed', \n  clarence_assessment = $2,\n  updated_at = NOW()\nWHERE clause_id = $1::uuid\nRETURNING clause_id, clause_number, status;",
                "options": {
                    "queryReplacement": "={{ [\n  $('Prepare Certification Request').first().json.clauseId,\n  ($input.first().json.message || 'Certification failed - unknown error').substring(0, 500)\n] }}"
                }
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                -1040,
                -16
            ],
            "id": "22a4edfe-228c-4c44-b09d-b64676076e3f",
            "name": "Mark Clause Failed",
            "credentials": {
                "postgres": {
                    "id": "ZH5KS5KZA0pid8fg",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://spikeislandstudios.app.n8n.cloud/webhook/certify-next-clause",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ contract_id: $('Validate Input').first().json.contractId, contract_type_key: $('Validate Input').first().json.contractTypeKey || null, initiator_party_role: $('Validate Input').first().json.initiatorPartyRole || null, roleContext: $('Validate Input').first().json.roleContext || null }) }}",
                "options": {
                    "timeout": 120000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -816,
                -16
            ],
            "id": "629f1465-ec21-4534-9e51-65c84e26f8b5",
            "name": "Chain Next After Error",
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// ============================================================================\n// BUILD SINGLE CLAUSE RANGE MAPPING PAYLOAD\n// Uses data already in the pipeline from Process Certification Response\n// Fires per-clause so real-world values are ready when the user clicks\n// ============================================================================\n\nconst contractId = $(\"Validate Input\").first().json.contractId;\nconst certData = $(\"Process Certification Response\").first().json;\nconst docData = $(\"Get Document Text\").first().json;\n\nconst clause = {\n  clause_id: certData.clauseId,\n  clause_number: certData.clauseNumber,\n  clause_name:\n    certData.clauseName || $(\"Check Result\").first().json.clause_name,\n  category: $(\"Check Result\").first().json.category || \"Other\",\n  content: certData.fullText || $(\"Check Result\").first().json.snippet || \"\",\n  extracted_value: certData.extractedValue || null,\n  extracted_unit: certData.extractedUnit || null,\n  value_type: certData.valueType || null,\n  document_position: null,\n  clarence_position: certData.position || null,\n};\n\nconst contractType = docData.detected_contract_type || \"service_agreement\";\n\nconsole.log(\n  `=== RANGE MAPPING: ${clause.clause_number} - ${clause.clause_name} ===`,\n);\nconsole.log(\n  `Position: ${clause.clarence_position}, Value: ${clause.extracted_value} ${clause.extracted_unit || \"\"}`,\n);\n\nreturn {\n  json: {\n    payload: {\n      contract_id: contractId,\n      clauses: [clause],\n      contract_type: contractType,\n      force_refresh: false,\n    },\n  },\n};\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -816,
                -192
            ],
            "id": "f9837309-51b2-477d-9583-9ea68f2329a4",
            "name": "Build Single CLause Range Payload"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://spikeislandstudios.app.n8n.cloud/webhook/clarence-map-clause-ranges",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json.payload) }}",
                "options": {
                    "timeout": 60000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -624,
                -192
            ],
            "id": "6ff491e4-2071-436f-afd4-df281684b0c0",
            "name": "Trigger Clause Range Mapping",
            "alwaysOutputData": false,
            "executeOnce": false
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://spikeislandstudios.app.n8n.cloud/webhook/detect-contract-schedules",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "contract_id",
                            "value": "={{ $('Validate Input').first().json.contractId }}"
                        },
                        {
                            "name": "contract_type_key",
                            "value": "={{ $('Validate Input').first().json.contractTypeKey }}"
                        }
                    ]
                },
                "options": {
                    "timeout": 120000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -2160,
                260
            ],
            "id": "sched-trigger-from-certify-001",
            "name": "Trigger Schedule Detection",
            "continueOnFail": true
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Validate Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Input": {
            "main": [
                [
                    {
                        "node": "Get Next Pending Clause",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Next Pending Clause": {
            "main": [
                [
                    {
                        "node": "Check Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Result": {
            "main": [
                [
                    {
                        "node": "Has Pending Clause?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Pending Clause?": {
            "main": [
                [
                    {
                        "node": "Mark Processing",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Mark Contract Ready",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mark Processing": {
            "main": [
                [
                    {
                        "node": "Respond 202 Processing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Respond 202 Processing": {
            "main": [
                [
                    {
                        "node": "Get Document Text",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Document Text": {
            "main": [
                [
                    {
                        "node": "Prepare Certification Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Certification Request": {
            "main": [
                [
                    {
                        "node": "Claude API - Certify Clause",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude API - Certify Clause": {
            "main": [
                [
                    {
                        "node": "Process Certification Response",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Mark Clause Failed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Certification Response": {
            "main": [
                [
                    {
                        "node": "Update Clause Certified",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Mark Clause Failed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Clause Certified": {
            "main": [
                [
                    {
                        "node": "Chain Next Clause",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Build Single CLause Range Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mark Contract Ready": {
            "main": [
                [
                    {
                        "node": "Respond Complete",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Trigger Schedule Detection",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mark Clause Failed": {
            "main": [
                [
                    {
                        "node": "Chain Next After Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Single CLause Range Payload": {
            "main": [
                [
                    {
                        "node": "Trigger Clause Range Mapping",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "9a61ad3a4b4343955ebf6507bf60bd76631c703df83526bf98c5c403fa94f01c"
    }
}