n8n-workflows/clarence-prompt-builder.json
{
  "name": "clarence-prompt-builder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clarence-prompt-builder",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "pb-webhook-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 300],
      "webhookId": "clarence-prompt-builder"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// CLARENCE PROMPT BUILDER — Single Source of Truth\n// ============================================================================\n// This workflow is called by ALL Claude-calling workflows:\n//   - clarence-qc-chat\n//   - clarence-chat\n//   - clarence-ai\n//   - Any future AI touchpoints\n//\n// It accepts a context object and touchpoint type, and returns:\n//   - systemPrompt: The full system prompt with identity, anchoring, rules\n//   - userPrompt: The task-specific user prompt with anchoring reinforcement\n//\n// CRITICAL: This is the ONLY place where CLARENCE's identity, language rules,\n// viewer anchoring, position accuracy, and legal expertise are defined.\n// Changes here apply everywhere. No more double-patching.\n// ============================================================================\n\nconst rawJson = $input.first().json;\nconst input = rawJson.body && typeof rawJson.body === 'object' ? rawJson.body : rawJson;\n\n// Extract key fields\nconst touchpointType = input.touchpointType || input.context || 'qc_chat';\nconst isCertification = touchpointType === 'certification';\nconst message = input.message || input.userMessage || '';\nconst qcContext = input.qcContext || {};\nconst roleContext = input.roleContext || null;\nconst viewerRole = input.viewerRole || 'initiator';\nconst clauseContext = qcContext.clauseContext || null;\nconst viewerAnchoring = qcContext.viewerAnchoring || {};\nconst contract = qcContext.contract || {};\nconst statistics = qcContext.statistics || {};\nconst playbook = qcContext.playbook || null;\n\nconsole.log('=== PROMPT BUILDER ===' );\nconsole.log('Touchpoint:', touchpointType);\nconsole.log('Viewer Role:', viewerRole);\nconsole.log('Has qcContext:', !!qcContext.contextType);\nconsole.log('Has roleContext:', !!roleContext);\nconsole.log('Has clauseContext:', !!clauseContext);\n\n// ============================================================================\n// RESOLVE VIEWER IDENTITY\n// ============================================================================\n\nconst viewerName = viewerAnchoring.viewerName || (viewerRole === 'initiator' ? contract.initiator?.name : contract.respondent?.name) || 'the user';\nconst viewerCompany = viewerAnchoring.viewerCompany || (viewerRole === 'initiator' ? contract.initiator?.company : contract.respondent?.company) || '';\nconst otherPartyName = viewerAnchoring.otherPartyName || (viewerRole === 'initiator' ? contract.respondent?.name : contract.initiator?.name) || 'the other party';\nconst otherPartyCompany = viewerAnchoring.otherPartyCompany || (viewerRole === 'initiator' ? contract.respondent?.company : contract.initiator?.company) || '';\n\n// Role labels from role matrix (resolved server-side by API route)\nconst userRoleLabel = roleContext?.userRoleLabel || 'Party';\nconst counterpartyRoleLabel = roleContext?.counterpartyRoleLabel || 'Counterparty';\nconst contractTypeName = roleContext?.contractTypeName || contract.contractType || 'Contract';\nconst positionFavorEnd = roleContext?.positionFavorEnd || 10;\n\n// ============================================================================\n// SECTION 1: VIEWER ANCHORING BLOCK (Point 1 of 3)\n// This goes at the VERY TOP of the system prompt\n// ============================================================================\n\nlet viewerAnchoringBlock = `\n═══════════════════════════════════════════════════════════════\nYOU ARE SPEAKING TO: ${viewerName}${viewerCompany ? ` (${viewerCompany})` : ''}\nTHEIR ROLE: ${userRoleLabel} in this ${contractTypeName}\n═══════════════════════════════════════════════════════════════\n• ALWAYS use \"you\" and \"your\" when referring to ${viewerName}\n• ALWAYS use \"${otherPartyName}\" or \"they/their\" for the other party (${counterpartyRoleLabel})\n• NEVER address ${viewerName} as if they were the ${counterpartyRoleLabel}\n• NEVER confuse which party you are advising\n`;\n\n// Add position context if we have clause data\nif (clauseContext) {\n  const viewerPosition = viewerRole === 'initiator' ? clauseContext.initiatorPosition : clauseContext.respondentPosition;\n  const otherPosition = viewerRole === 'initiator' ? clauseContext.respondentPosition : clauseContext.initiatorPosition;\n  \n  viewerAnchoringBlock += `\\n• YOUR position on \"${clauseContext.clauseName}\": ${viewerPosition !== null && viewerPosition !== undefined ? viewerPosition + '/10' : 'Not yet set'}`;\n  viewerAnchoringBlock += `\\n• ${otherPartyName.toUpperCase()}'S position: ${otherPosition !== null && otherPosition !== undefined ? otherPosition + '/10' : 'Not yet set'}`;\n  viewerAnchoringBlock += `\\n• CLARENCE assessment: ${clauseContext.clarencePosition !== null && clauseContext.clarencePosition !== undefined ? clauseContext.clarencePosition + '/10' : 'Pending'}`;\n}\n\nviewerAnchoringBlock += `\\n═══════════════════════════════════════════════════════════════\\n`;\n\n// For certification, replace viewer anchoring with party-neutral assessment context\nif (isCertification) {\n  const protLabel = roleContext?.protectedPartyLabel || 'the protected party';\n  const provLabel = roleContext?.providingPartyLabel || 'the providing party';\n  viewerAnchoringBlock = `\\n═══════════════════════════════════════════════════════════════\\nCERTIFICATION MODE — PARTY-NEUTRAL CLAUSE ASSESSMENT\\n═══════════════════════════════════════════════════════════════\\n• You are certifying this clause OBJECTIVELY — not advising either party\\n• Do NOT use \"you\" or \"your\" — refer to parties by their role labels\\n• ${protLabel} = the party the contract primarily protects (high position end)\\n• ${provLabel} = the party providing goods/services (low position end)\\n• Your assessment text MUST be consistent with the position number you assign\\n═══════════════════════════════════════════════════════════════\\n`;\n}\n\n// ============================================================================\n// SECTION 2: CLARENCE IDENTITY\n// ============================================================================\n\nlet clarenceIdentity = `\nYOU ARE CLARENCE — The Honest Broker\n\nYou are an impartial contract negotiation advisor. You provide balanced, professional guidance to help both parties reach fair agreements. You are not an advocate for either side — you are a mediator who helps parties understand their positions, the implications of contract terms, and paths toward agreement.\n\nCORE PRINCIPLES:\n- Be direct, honest, and balanced in all advice\n- Never advocate for one party over the other\n- Explain the practical implications of contract positions\n- Reference specific contract terms and values accurately\n- Use professional legal language appropriate for commercial negotiations\n- Be concise — legal professionals value precision over verbosity\n`;\n\n// For certification, override identity to be party-neutral assessor\nif (isCertification) {\n  clarenceIdentity = `\\nYOU ARE CLARENCE — Clause Certification Engine\\n\\nYou are objectively assessing this contract clause to assign:\\n1. clarencePosition (1-10 integer) — where this clause sits on the fairness scale\\n2. clarenceAssessment — a 1-2 sentence plain-English summary of what the clause means and who it favours\\n3. clarenceSummary — a brief factual summary of the clause content\\n4. clarenceFlags — any notable risks, unusual terms, or items requiring attention\\n5. clarenceFairness — one of: balanced, slight_imbalance, moderate_imbalance, significant_imbalance\\n\\nYou MUST be party-neutral. Do not advocate for either side. Assess objectively.\\n`;\n}\n\n// ============================================================================\n// SECTION 3: POSITION ACCURACY RULES\n// ============================================================================\n\nlet positionAccuracyRules = `\nPOSITION SCALE (FIXED — DO NOT DEVIATE):\n- Position 1: Maximum flexibility for ${roleContext?.providingPartyLabel || 'the providing party'}\n- Position 5: Balanced / Market standard\n- Position 10: Maximum protection for ${roleContext?.protectedPartyLabel || 'the protected party'}\n- Positions favouring YOU (${viewerName}): ${positionFavorEnd === 1 ? 'Lower positions (1-3)' : 'Higher positions (7-10)'}\n- Positions favouring ${otherPartyName}: ${positionFavorEnd === 1 ? 'Higher positions (7-10)' : 'Lower positions (1-3)'}\n\nPOSITION ACCURACY RULES:\n- When a clause has position labels (from range_data), ALWAYS use those labels\n- NEVER invent or guess contract terms — if position labels exist, reference them EXACTLY\n- Example: If position 3 means \"30-day payment terms\", say \"30 days\", NOT \"45 days\" or any other value\n- If no position labels exist, describe the position directionally (e.g., \"provider-favouring\", \"balanced\")\n- ALWAYS cite the actual position number when discussing positions\n`;\n\n// Certification-specific: strict position-assessment consistency\nif (isCertification) {\n  const certProtLabel = roleContext?.protectedPartyLabel || 'the protected party';\n  const certProvLabel = roleContext?.providingPartyLabel || 'the providing party';\n  positionAccuracyRules += `\\nCERTIFICATION CONSISTENCY RULES (MANDATORY):\\n`;\n  positionAccuracyRules += `- Position 1-2: Assessment MUST say it strongly favours ${certProvLabel}\\n`;\n  positionAccuracyRules += `- Position 3-4: Assessment MUST say it favours or slightly favours ${certProvLabel}\\n`;\n  positionAccuracyRules += `- Position 5: Assessment MUST say it is balanced or market standard\\n`;\n  positionAccuracyRules += `- Position 6-7: Assessment MUST say it favours or moderately protects ${certProtLabel}\\n`;\n  positionAccuracyRules += `- Position 8-10: Assessment MUST say it strongly protects ${certProtLabel}\\n`;\n  positionAccuracyRules += `- NEVER say a low position (1-4) favours the protected party\\n`;\n  positionAccuracyRules += `- NEVER say a high position (7-10) favours the providing party\\n`;\n  positionAccuracyRules += `- Use the party labels above (${certProtLabel}/${certProvLabel}), NOT generic terms like \\\"disclosing party\\\"\\n`;\n}\n\n// Add position labels if available for the focused clause\nif (clauseContext?.positionLabels) {\n  const labels = typeof clauseContext.positionLabels === 'string' \n    ? JSON.parse(clauseContext.positionLabels) \n    : clauseContext.positionLabels;\n  \n  if (labels && typeof labels === 'object') {\n    positionAccuracyRules += `\\nPOSITION LABELS FOR \"${clauseContext.clauseName}\":\\n`;\n    \n    // range_data is typically { position_1: { label: '...' }, position_5: { label: '...' }, position_10: { label: '...' } }\n    // or { \"1\": \"...\", \"5\": \"...\", \"10\": \"...\" } depending on schema\n    for (const [key, value] of Object.entries(labels)) {\n      const posNum = key.replace('position_', '').replace('pos_', '');\n      const labelText = typeof value === 'object' ? (value.label || value.description || JSON.stringify(value)) : value;\n      positionAccuracyRules += `- Position ${posNum}: ${labelText}\\n`;\n    }\n    \n    positionAccuracyRules += `\\nYou MUST use these exact labels when discussing this clause's positions. Do NOT make up alternative terms.\\n`;\n  }\n}\n\n// ============================================================================\n// SECTION 4: ALIGNMENT TERMINOLOGY\n// ============================================================================\n\nconst alignmentRules = `\nALIGNMENT TERMINOLOGY (DO NOT CONFUSE THESE):\n- \"Clause Alignment\" = ${statistics.clauseAlignment || 0}% — the percentage of clauses where both parties have reached agreement\n- \"Leverage Balance\" — the overall negotiating leverage calculation based on multiple factors\n- NEVER call both of these \"alignment\" — always specify WHICH alignment you mean\n- When the user asks about \"alignment\", clarify whether they mean clause agreement progress or overall leverage\n`;\n\n// ============================================================================\n// SECTION 5: LEGAL EXPERTISE (Tier 2)\n// ============================================================================\n\nconst legalExpertise = `\nYOUR LEGAL EXPERTISE:\nYou have deep knowledge in:\n- Commercial contract law (UK and international)\n- Business Process Outsourcing (BPO) agreements\n- IT outsourcing and managed services contracts\n- SaaS and software licensing agreements\n- Data protection (GDPR, CCPA) and privacy compliance\n- TUPE and employment transfer regulations\n- Intellectual property rights and licensing\n- Liability frameworks (caps, exclusions, consequential damages)\n- Service levels, KPIs, and performance measurement\n- Dispute resolution mechanisms (arbitration, mediation, litigation)\n- Force majeure and business continuity provisions\n- Termination rights and exit management\n\nWhen discussing these topics, draw on your full legal training to provide substantive, expert-level guidance. Do not restrict yourself to only what is in the contract — explain industry standards, common pitfalls, and best practices where relevant.\n`;\n\n// ============================================================================\n// SECTION 6: CONTRACT CONTEXT DATA\n// ============================================================================\n\nlet contractContextBlock = '';\n\nif (contract.contractName) {\n  contractContextBlock += `\\nCONTRACT: \"${contract.contractName}\" (${contractTypeName})\\n`;\n  contractContextBlock += `Status: ${contract.status || 'Active'}\\n`;\n  contractContextBlock += `YOUR party: ${viewerName}${viewerCompany ? ' (' + viewerCompany + ')' : ''} — ${userRoleLabel}\\n`;\n  contractContextBlock += `OTHER party: ${otherPartyName}${otherPartyCompany ? ' (' + otherPartyCompany + ')' : ''} — ${counterpartyRoleLabel}\\n`;\n}\n\nif (statistics.totalClauses > 0) {\n  contractContextBlock += `\\nCLAUSE STATISTICS:\\n`;\n  contractContextBlock += `- Total negotiable clauses: ${statistics.negotiableClauses}\\n`;\n  contractContextBlock += `- Certified by CLARENCE: ${statistics.certifiedClauses}\\n`;\n  contractContextBlock += `- Balanced clauses: ${statistics.balancedCount}\\n`;\n  contractContextBlock += `- Clauses needing review: ${statistics.reviewNeededCount}\\n`;\n  contractContextBlock += `- Clauses with agreements: ${statistics.clausesWithAgreements}\\n`;\n  contractContextBlock += `- Clause Alignment: ${statistics.clauseAlignment}%\\n`;\n  contractContextBlock += `- Pending queries: ${statistics.pendingQueries}\\n`;\n  contractContextBlock += `- Average CLARENCE position: ${statistics.avgClarencePosition || 'N/A'}\\n`;\n}\n\n// Add focused clause context\nif (clauseContext) {\n  contractContextBlock += `\\nFOCUSED CLAUSE: \"${clauseContext.clauseName}\" (${clauseContext.clauseNumber})\\n`;\n  contractContextBlock += `Category: ${clauseContext.category}\\n`;\n  contractContextBlock += `CLARENCE Position: ${clauseContext.clarencePosition}/10\\n`;\n  contractContextBlock += `CLARENCE Fairness: ${clauseContext.clarenceFairness}\\n`;\n  if (clauseContext.clarenceSummary) contractContextBlock += `CLARENCE Summary: ${clauseContext.clarenceSummary}\\n`;\n  if (clauseContext.clarenceAssessment) contractContextBlock += `CLARENCE Assessment: ${clauseContext.clarenceAssessment}\\n`;\n  if (clauseContext.fullText) contractContextBlock += `\\nFull Clause Text:\\n${clauseContext.fullText.substring(0, 2000)}\\n`;\n}\n\n// Add biggest gaps\nif (qcContext.clauseHighlights?.biggestGaps?.length > 0) {\n  contractContextBlock += `\\nBIGGEST POSITION GAPS (clauses needing most attention):\\n`;\n  for (const gap of qcContext.clauseHighlights.biggestGaps) {\n    contractContextBlock += `- \"${gap.clause_name}\": Gap of ${gap.position_gap?.toFixed(1)} (Initiator: ${gap.initiator_position}, Respondent: ${gap.respondent_position})`;\n    if (gap.positionLabels) {\n      contractContextBlock += ` [Has position labels]`;\n    }\n    contractContextBlock += `\\n`;\n  }\n}\n\n// Add party chat context\nif (qcContext.partyChat?.length > 0) {\n  contractContextBlock += `\\nRECENT PARTY-TO-PARTY MESSAGES (what ${viewerName} and ${otherPartyName} have discussed directly):\\n`;\n  for (const msg of qcContext.partyChat.slice(0, 5)) {\n    const senderLabel = msg.role === viewerRole ? 'YOU' : otherPartyName;\n    contractContextBlock += `- [${senderLabel}]: ${msg.message}${msg.relatedClause ? ' (re: ' + msg.relatedClause + ')' : ''}\\n`;\n  }\n  contractContextBlock += `\\nIMPORTANT: Consider what the parties have already discussed when giving advice. Do not contradict agreements they have already reached in chat.\\n`;\n}\n\n// Add recent activity\nif (qcContext.recentActivity?.length > 0) {\n  contractContextBlock += `\\nRECENT ACTIVITY:\\n`;\n  for (const event of qcContext.recentActivity.slice(0, 5)) {\n    const actorLabel = event.party === viewerRole ? 'YOU' : otherPartyName;\n    contractContextBlock += `- ${actorLabel}: ${event.summary || event.type} (${event.timestamp})\\n`;\n  }\n}\n\n// Add playbook guidance\nif (playbook) {\n  contractContextBlock += `\\nCOMPANY PLAYBOOK: \"${playbook.playbookName}\"\\n`;\n  contractContextBlock += `This company has a negotiation playbook with ${playbook.activeRules?.length || 0} active rules.\\n`;\n  contractContextBlock += `When relevant, reference playbook guidance but do not override CLARENCE's independent assessment.\\n`;\n}\n\n// ============================================================================\n// SECTION 7: DRAFTING RULES (only for drafting touchpoints)\n// ============================================================================\n\nlet draftingRules = '';\nconst isDrafting = ['position_draft_generation', 'balanced_draft_generation', 'targeted_draft_generation', 'drafting'].includes(touchpointType);\n\nif (isDrafting) {\n  draftingRules = `\\nDRAFTING RULES:\\n- Use position label definitions to determine the EXACT terms to include\\n- Use contract type roles to determine which party benefits at each position\\n- Maintain consistency — produce the SAME language for the SAME position every time\\n- Use formal legal English appropriate for commercial contracts\\n- Do NOT add new topics, remove existing coverage areas, or change defined terms\\n- Preserve all specific values, dates, and defined terms from the original clause\\n- Return ONLY the rewritten clause text — no preamble, explanation, or commentary\\n`;\n}\n\n// ============================================================================\n// SECTION 8: ASSEMBLE SYSTEM PROMPT\n// ============================================================================\n\nconst systemPrompt = [\n  viewerAnchoringBlock,      // Point 1: WHO you're talking to\n  clarenceIdentity,           // WHO you are\n  positionAccuracyRules,      // HOW to handle positions\n  alignmentRules,             // HOW to discuss alignment\n  legalExpertise,             // WHAT you know (Tier 2)\n  contractContextBlock,       // WHAT the contract contains (Tier 1)\n  draftingRules,              // HOW to draft (if applicable)\n].filter(Boolean).join('\\n');\n\n// ============================================================================\n// SECTION 9: BUILD USER PROMPT with anchoring reinforcement (Point 3 of 3)\n// ============================================================================\n\nlet userPrompt = message;\n\n// Add anchoring reinforcement to user prompt (Point 3 of 3) — skip for certification\nif (!isCertification && viewerName && viewerName !== 'the user') {\n  userPrompt += `\\n\\n---\\nREMINDER: You are advising ${viewerName} the ${userRoleLabel}.\\nDo NOT confuse their interests with ${otherPartyName}'s interests.\\nUse \"you/your\" for ${viewerName} and \"they/them\" for ${otherPartyName}.`;\n}\n\nconsole.log('=== PROMPT BUILDER OUTPUT ===');\nconsole.log('System prompt length:', systemPrompt.length);\nconsole.log('User prompt length:', userPrompt.length);\nconsole.log('Touchpoint:', touchpointType);\nconsole.log('Viewer anchored to:', viewerName, '(' + userRoleLabel + ')');\nconsole.log('Is drafting:', isDrafting);\n\nreturn [{\n  json: {\n    systemPrompt,\n    userPrompt,\n    touchpointType,\n    viewerName,\n    userRoleLabel,\n    counterpartyRoleLabel,\n    otherPartyName,\n    isDrafting,\n    // Pass through for the calling workflow\n    contractId: input.contractId || null,\n    sessionId: input.sessionId || null,\n    clauseId: input.clauseId || null,\n  }\n}];\n"
      },
      "id": "pb-build-prompt-001",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "pb-respond-001",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [80, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "9a61ad3a4b4343955ebf6507bf60bd76631c703df83526bf98c5c403fa94f01c"
  }
}
