n8n-workflows/parse-playbook.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "parse-playbook",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "f9fb3b02-34e8-4152-b858-ea7f7734faeb",
            "name": "Webhook - Parse Playbook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                1392,
                -720
            ],
            "webhookId": "parse-playbook-webhook"
        },
        {
            "parameters": {
                "jsCode": "// ============================================================================\n// SECTION 1: VALIDATE INPUT\n// ============================================================================\n\nconst body = $input.first().json.body;\n\nconst playbookId = body.playbook_id || body.playbookId;\nconst extractedText = body.extracted_text || body.extractedText || \"\";\n\nif (!playbookId) {\n  throw new Error(\"Missing required field: playbook_id\");\n}\n\nif (!extractedText || extractedText.length < 100) {\n  throw new Error(\n    \"Missing or insufficient extracted_text. Length: \" +\n      (extractedText?.length || 0) +\n      \". Text must be extracted client-side before calling this webhook.\",\n  );\n}\n\nreturn {\n  playbookId,\n  extractedText,\n  extractedTextLength: extractedText.length,\n  timestamp: new Date().toISOString(),\n};\n"
            },
            "id": "6ef23961-049d-42e3-b10c-ee753ba9843d",
            "name": "Validate Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1616,
                -720
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT \n  p.playbook_id,\n  p.company_id,\n  p.playbook_name,\n  p.source_file_name,\n  p.source_file_path,\n  p.status,\n  p.playbook_perspective\nFROM company_playbooks p\nWHERE p.playbook_id = '{{ $json.playbookId }}'::uuid\n",
                "options": {}
            },
            "id": "0c1d63ce-134e-4909-b475-49e466e1b859",
            "name": "Get Playbook Metadata",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                1840,
                -816
            ],
            "credentials": {
                "postgres": {
                    "id": "ZH5KS5KZA0pid8fg",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE company_playbooks\nSET \n  status = 'parsing',\n  parsing_started_at = NOW(),\n  updated_at = NOW()\nWHERE playbook_id = '{{ $('Validate Input').first().json.playbookId }}'::uuid\nRETURNING *",
                "options": {}
            },
            "id": "c54e178f-4cbc-4b0e-8022-a6b1005fb4b8",
            "name": "Update Status to Parsing",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                2064,
                -816
            ],
            "credentials": {
                "postgres": {
                    "id": "ZH5KS5KZA0pid8fg",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// ============================================================================\n// SMART PLAYBOOK EXTRACTION - Aligned to actual playbook_rules schema\n// V5: Rule count fix, range differentiation, provider perspective support\n// ============================================================================\n\nconst playbookData = $(\"Get Playbook Metadata\").first().json;\n\n// Read extracted text from Validate Input (sent by frontend)\nconst validateData = $(\"Validate Input\").first().json;\nconst extractedText = validateData.extractedText || \"\";\n\nif (!extractedText || extractedText.length < 100) {\n  throw new Error(\n    \"No usable text received from frontend extraction. Length: \" +\n      (extractedText?.length || 0),\n  );\n}\n\n// ============================================================================\n// PLAYBOOK PERSPECTIVE — customer or provider?\n// ============================================================================\n// Determines how positions are interpreted. If the playbook was uploaded by\n// a provider company, the positions represent the provider's goals (lower\n// numbers = stronger provider position). If customer, higher = stronger.\n\nconst perspective = playbookData.playbook_perspective || \"customer\";\n\n// ============================================================================\n// SMART EXTRACTION: Find and keep sections with negotiation rules\n// ============================================================================\n// Set to 80K: large enough to capture most playbooks in full, while the\n// reduced output fields (dropped talking_points, common_objections,\n// counter_arguments) keep total response within timeout.\n\nconst MAX_CHARS = 80000;\nconst originalLength = extractedText.length;\n\nlet processedText = extractedText;\nlet wasTruncated = false;\nlet extractionMethod = \"full\";\n\nif (extractedText.length > MAX_CHARS) {\n  wasTruncated = true;\n\n  const importantKeywords = [\n    \"position\",\n    \"limit\",\n    \"threshold\",\n    \"escalat\",\n    \"approv\",\n    \"accept\",\n    \"red line\",\n    \"redline\",\n    \"non-negotiable\",\n    \"mandatory\",\n    \"must not\",\n    \"minimum\",\n    \"maximum\",\n    \"range\",\n    \"cap\",\n    \"ceiling\",\n    \"floor\",\n    \"liability\",\n    \"indemnit\",\n    \"warrant\",\n    \"terminat\",\n    \"payment\",\n    \"intellectual property\",\n    \"confidential\",\n    \"data protection\",\n    \"service level\",\n    \"sla\",\n    \"penalty\",\n    \"breach\",\n    \"remedy\",\n    \"insurance\",\n    \"force majeure\",\n    \"governance\",\n    \"audit\",\n    \"preferred\",\n    \"ideal\",\n    \"fallback\",\n    \"walk away\",\n    \"deal breaker\",\n    \"negotiate\",\n    \"concession\",\n    \"trade-off\",\n    \"compromise\",\n    \"employment\",\n    \"tupe\",\n    \"benchmarking\",\n    \"change control\",\n    \"dispute\",\n    \"exit\",\n    \"transition\",\n    \"subcontract\",\n  ];\n\n  const sections = extractedText.split(/\\n{2,}|\\r\\n{2,}/);\n\n  const scoredSections = sections.map((section, index) => {\n    const lowerSection = section.toLowerCase();\n    let score = 0;\n    importantKeywords.forEach((keyword) => {\n      if (lowerSection.includes(keyword.toLowerCase())) score += 2;\n    });\n    if (\n      /\\d+%|\\$[\\d,]+|£[\\d,]+|€[\\d,]+|\\d+\\s*(days|months|years|hours)/i.test(\n        section,\n      )\n    )\n      score += 3;\n    if (/position\\s*[:\\-]?\\s*\\d/i.test(section)) score += 5;\n    if (/^[\\d\\.]+\\s+[A-Z]|^[A-Z][a-z]+\\s+[A-Z][a-z]+\\s*:/m.test(section))\n      score += 2;\n    if (index < 10) score += 1;\n    return { section, score, index };\n  });\n\n  const sortedSections = scoredSections\n    .filter((s) => s.section.trim().length > 50)\n    .sort((a, b) => {\n      if (b.score !== a.score) return b.score - a.score;\n      return a.index - b.index;\n    });\n\n  let currentLength = 0;\n  const selectedSections = [];\n\n  const introSections = scoredSections.slice(0, 5).map((s) => s.section);\n  introSections.forEach((s) => {\n    selectedSections.push(s);\n    currentLength += s.length;\n  });\n\n  for (const item of sortedSections) {\n    if (currentLength + item.section.length > MAX_CHARS - 1000) break;\n    if (!selectedSections.includes(item.section)) {\n      selectedSections.push(item.section);\n      currentLength += item.section.length;\n    }\n  }\n\n  const sectionOrderMap = new Map(scoredSections.map((s, i) => [s.section, i]));\n  selectedSections.sort(\n    (a, b) => (sectionOrderMap.get(a) || 0) - (sectionOrderMap.get(b) || 0),\n  );\n\n  processedText = selectedSections.join(\"\\n\\n\");\n  extractionMethod = \"smart_keyword\";\n\n  processedText += `\\n\\n[SMART EXTRACTION: Selected ${selectedSections.length} of ${sections.length} sections based on relevance. Original: ${originalLength} chars, Processed: ${processedText.length} chars]`;\n}\n\n// ============================================================================\n// Build perspective-aware scale definition\n// ============================================================================\n\nconst scaleDefinition =\n  perspective === \"provider\"\n    ? `═══════════════════════════════════════════════════\nPOSITION SCALE (1-10) — PROVIDER PERSPECTIVE\n═══════════════════════════════════════════════════\n\nTHIS IS A PROVIDER/SUPPLIER PLAYBOOK. Positions represent what the PROVIDER wants.\n\nPosition 1  = Weakest position for this provider (maximum concession to customer)\nPosition 5  = Balanced / Market standard\nPosition 10 = Strongest position for this provider (maximum protection for provider)\n\nThe scale is oriented so that:\n- Higher number = MORE favourable for the PROVIDER (supplier, vendor)\n- Lower number  = MORE concession to the CUSTOMER (buyer, tenant)\n\nExample: A provider wanting long payment terms (90 days) would set ideal_position HIGH (8-9).\nA provider accepting short payment terms (7 days) would set minimum_position LOW (2-3).`\n    : `═══════════════════════════════════════════════════\nPOSITION SCALE (1-10) — CUSTOMER PERSPECTIVE\n═══════════════════════════════════════════════════\n\nTHIS IS A CUSTOMER/BUYER PLAYBOOK. Positions represent what the CUSTOMER wants.\n\nPosition 1  = Maximum flexibility for the PROVIDING party (supplier, vendor, landlord, licensor)\nPosition 5  = Balanced / Market standard\nPosition 10 = Maximum protection for the PROTECTED party (customer, tenant, buyer, licensee)\n\nThe scale is oriented so that:\n- Higher number = MORE protection for the customer/buyer\n- Lower number  = MORE flexibility for the supplier/provider\n\nExample: A customer wanting short payment terms (7 days) would set ideal_position HIGH (8-9).\nA customer accepting long payment terms (90 days) would set minimum_position LOW (2-3).`;\n\n// ============================================================================\n// PROMPT V5 — Perspective-aware, range-differentiated, output-optimised\n// ============================================================================\n\nconst systemPrompt = `You are an expert at extracting negotiation rules from corporate contract playbooks.\n\nCRITICAL INSTRUCTION: You MUST extract EVERY negotiation rule, position, red line, escalation trigger, and policy directive from the document. Do NOT summarise, consolidate, or skip rules. A large corporate playbook may contain 80-150+ rules. If you extract fewer than 30, you have almost certainly missed rules.\n\n${scaleDefinition}\n\n═══════════════════════════════════════════════════\nFOUR POSITION VALUES PER RULE\n═══════════════════════════════════════════════════\n\n- ideal_position: The company's PREFERRED opening position (where they want to start).\n- minimum_position: The absolute FLOOR. Below this is unacceptable.\n- maximum_position: Best case / aspirational ceiling.\n- fallback_position: Compromise if ideal is rejected. Between minimum and ideal.\n\nRULES:\n- minimum_position <= fallback_position <= ideal_position <= maximum_position\n- All four values MUST be different from each other when the playbook provides enough context.\n- Use the FULL 1-10 range. Do not cluster everything around 5-6.\n\n═══════════════════════════════════════════════════\nCRITICAL — EVERY RULE MUST HAVE UNIQUE POSITIONS\n═══════════════════════════════════════════════════\n\nWRONG — identical positions across rules in a category:\n  \"Liability Cap\":       ideal=8, min=6, max=10, fallback=7\n  \"Consequential Loss\":  ideal=8, min=6, max=10, fallback=7  ← WRONG: copied\n  \"Indemnity Scope\":     ideal=8, min=6, max=10, fallback=7  ← WRONG: copied\n\nRIGHT — each rule reflects its SPECIFIC playbook guidance:\n  \"Liability Cap\":       ideal=8, min=5, max=10, fallback=7  (% of fees — cap at 150%)\n  \"Consequential Loss\":  ideal=9, min=7, max=10, fallback=8  (scope — must exclude)\n  \"Indemnity Scope\":     ideal=7, min=4, max=9,  fallback=6  (scope — IP indemnity only)\n\nEvery clause deals with a DIFFERENT aspect — even within the same category. Read the playbook text for EACH clause and assign positions based on what IT says, not what the category says.\n\nEach clause also has its OWN unit of measurement:\n- \"Liability Cap\" → % of fees\n- \"Consequential Loss\" → scope (broad to narrow)\n- \"Indemnity Period\" → months\n- \"Service Credits\" → % of monthly charges\nDo NOT apply one measure to all clauses in a section.\n\n═══════════════════════════════════════════════════\nCATEGORY MEASURE GUIDE\n═══════════════════════════════════════════════════\n\nUse the correct unit for each clause. Override when the clause clearly deals with something different.\n\nliability: % of annual fees (caps), scope (exclusions), months (indemnity periods)\npayment: days (terms), % (interest rates), days (dispute windows)\ntermination: months (notice), scope (rights), days (cure periods)\nconfidentiality: years (duration), scope (definition breadth)\nservice_levels: % uptime, % monthly charges (credits), scope (remedies)\ninsurance: GBP/USD coverage amounts\ndata_protection: hours (breach notification), scope (audit rights), days (data return)\nintellectual_property: years (licence), scope (ownership)\n\n═══════════════════════════════════════════════════\nRANGE CONTEXT — REQUIRED FOR EACH RULE\n═══════════════════════════════════════════════════\n\n\"range_context\": {\n  \"value_type\": \"duration\" | \"percentage\" | \"currency\" | \"count\" | \"boolean\" | \"text\",\n  \"range_unit\": \"<e.g. '% of annual fees', 'months notice', 'GBP', 'days'>\",\n  \"scale_points\": [\n    { \"position\": 1, \"label\": \"<value at pos 1>\", \"value\": <number> },\n    { \"position\": 5, \"label\": \"<value at pos 5>\", \"value\": <number> },\n    { \"position\": 10, \"label\": \"<value at pos 10>\", \"value\": <number> }\n  ],\n  \"source\": \"parsed\"\n}\n\n- EXACTLY 3 scale_points: positions 1, 5, and 10.\n- Each rule's range_context MUST match THAT rule's unit, not the category default.\n- For qualitative clauses, use value_type \"text\" and descriptive labels.\n\n═══════════════════════════════════════════════════\nOTHER FIELDS — KEEP TEXT SHORT (max 12 words)\n═══════════════════════════════════════════════════\n\n- clause_code: Short ID (e.g. \"LIA-001\", \"TERM-002\")\n- clause_name: Specific title (e.g. \"Liability Cap\", not just \"Liability\")\n- category: One of: liability, termination, payment, intellectual_property, confidentiality, data_protection, service_levels, warranties, indemnification, insurance, governance, employment, audit, benchmarking, dispute_resolution, change_control, exit_transition, subcontracting, force_majeure, other\n- rationale: Why this matters (max 12 words)\n- negotiation_tips: Key tactic (max 12 words)\n- escalation_trigger: What triggers escalation (max 12 words, or null)\n- escalation_contact: Role to escalate to (e.g. \"Legal Director\")\n- requires_approval_below: Position needing approval (integer 1-10, or null)\n- importance_level: Criticality 1-10\n- is_deal_breaker: true if walking away is required when breached\n- is_non_negotiable: true if position cannot change at all\n\n═══════════════════════════════════════════════════\nQUALITY CHECKS — VERIFY BEFORE RETURNING\n═══════════════════════════════════════════════════\n\n1. DIFFERENTIATION: Scan your output. If ANY 2 rules in the same category share the SAME ideal_position AND minimum_position, go back and fix them. Each rule MUST have unique position values.\n2. FULL RANGE: Across all rules, positions should span at least 3 to 9.\n3. CORRECT MEASURES: Each rule's range_context.range_unit must match THAT clause's unit.\n4. POSITION ORDER: minimum <= fallback <= ideal <= maximum for every rule.\n5. COMPLETENESS: Count your rules. This playbook may contain 80-150 rules. Extract ALL of them.\n\nIMPORTANT OUTPUT RULES:\n1. Number clause_codes sequentially within each category\n2. Return ONLY valid JSON, no markdown backticks\n\n{\n  \"playbook_summary\": \"...\",\n  \"playbook_perspective\": \"${perspective}\",\n  \"extraction_confidence\": 0.85,\n  \"total_rules_extracted\": 45,\n  \"rules\": [{ ... }]\n}`;\n\nconst userPrompt = `Extract ALL negotiation rules from this ${perspective === \"provider\" ? \"PROVIDER\" : \"CUSTOMER\"} playbook. Be thorough — extract every rule, red line, position directive, escalation trigger, and approval threshold.\n\nThis playbook is written from the ${perspective === \"provider\" ? \"PROVIDER/SUPPLIER\" : \"CUSTOMER/BUYER\"} perspective. Position values should reflect what the ${perspective === \"provider\" ? \"provider\" : \"customer\"} wants.\n\nIMPORTANT: Each clause MUST have its own unique position values and unit of measurement. Do NOT copy positions across clauses in the same category.\n\nPLAYBOOK: ${playbookData.playbook_name}\n${wasTruncated ? `[Note: Key sections extracted via ${extractionMethod}. Focus on extracting rules from ALL sections provided.]` : \"\"}\n\n---\n${processedText}\n---\n\nExtract EVERY rule with unique positions and per-clause range_context. Count them — aim for completeness. Keep text fields under 12 words. Return ONLY the JSON object.`;\n\nreturn {\n  playbookId: playbookData.playbook_id,\n  companyId: playbookData.company_id,\n  playbookName: playbookData.playbook_name,\n  perspective,\n  systemPrompt,\n  userPrompt,\n  originalLength,\n  processedLength: processedText.length,\n  wasTruncated,\n  extractionMethod,\n};\n"
            },
            "id": "3cc2f1f0-ca71-4ef0-ab5c-1678b745e9e1",
            "name": "Prepare Claude Prompt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2288,
                -720
            ]
        },
        {
            "parameters": {
                "jsCode": "// ============================================================================\n// PROCESS CLAUDE RESPONSE — Pass 1 JSON parser with truncation recovery\n// Location: n8n-workflows/process-claude-response.js\n//\n// Sits between the Claude API node and Validate Extracted Rules.\n// Handles the case where Claude's response is truncated mid-JSON (common on\n// large documents that push against the output token limit).\n//\n// Copy this code into the n8n \"Process Claude Response\" Code node.\n// ============================================================================\n\nconst input = $input.first().json;\n\n// Claude API node returns the response in different shapes depending on version\nconst rawContent =\n  input?.message?.content?.[0]?.text ||\n  input?.content?.[0]?.text ||\n  input?.text ||\n  input?.response ||\n  \"\";\n\nif (!rawContent) {\n  throw new Error(\"No content received from Claude API node\");\n}\n\n// ============================================================================\n// STEP 1: Strip markdown fences if Claude wrapped the JSON anyway\n// ============================================================================\n\nlet jsonStr = rawContent.trim();\nif (jsonStr.startsWith(\"```\")) {\n  jsonStr = jsonStr\n    .replace(/^```(?:json)?\\s*/i, \"\")\n    .replace(/```\\s*$/, \"\")\n    .trim();\n}\n\n// ============================================================================\n// STEP 2: Attempt clean parse first\n// ============================================================================\n\nlet parsed = null;\nlet wasTruncated = false;\n\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch (firstError) {\n  // ============================================================================\n  // STEP 3: Truncation recovery\n  //\n  // Claude truncates mid-string inside the rules array. We try to salvage\n  // every rule object that completed before the cut-off.\n  //\n  // The Claude prompt instructs Claude to use \"rules\" as the array key.\n  // We also check \"clause_inventory\" as a legacy fallback.\n  //\n  // Strategy A — depth tracking (fast, accurate):\n  //   Walk forward tracking brace depth; record every position where a\n  //   top-level rule object closes (depth returns to 0). Use the last such\n  //   position as the safe cut-off point.\n  //\n  // Strategy B — backward scan (resilient fallback):\n  //   If Strategy A finds nothing (truncation hit the very first rule, or a\n  //   string-skipping edge case threw the depth counter off), walk backward\n  //   through every '}' in the rules section and attempt JSON.parse on each\n  //   candidate reconstruction until one succeeds.\n  // ============================================================================\n\n  wasTruncated = true;\n  let recovered = false;\n\n  // The prompt uses \"rules\" as the array key; \"clause_inventory\" is a legacy fallback\n  const arrayKey = jsonStr.includes('\"rules\"') ? '\"rules\"' : '\"clause_inventory\"';\n\n  const arrayStart = jsonStr.indexOf(arrayKey);\n  if (arrayStart !== -1) {\n    const bracketOpen = jsonStr.indexOf(\"[\", arrayStart);\n    if (bracketOpen !== -1) {\n      const headerStr = jsonStr.slice(0, bracketOpen + 1); // up to and including '['\n\n      // ---- Strategy A: forward depth-tracking scan -------------------------\n      let depth = 0;\n      let lastCompleteRuleEnd = -1;\n\n      for (let i = bracketOpen + 1; i < jsonStr.length; i++) {\n        const ch = jsonStr[i];\n        // Skip over string literals — they may contain braces that would\n        // corrupt the depth counter\n        if (ch === '\"') {\n          i++;\n          while (i < jsonStr.length) {\n            if (jsonStr[i] === \"\\\\\") {\n              i += 2; // skip escaped character (handles \\\" correctly)\n              continue;\n            }\n            if (jsonStr[i] === '\"') break;\n            i++;\n          }\n          continue;\n        }\n        if (ch === \"{\") depth++;\n        if (ch === \"}\") {\n          depth--;\n          if (depth === 0) {\n            lastCompleteRuleEnd = i;\n          }\n        }\n      }\n\n      if (lastCompleteRuleEnd !== -1) {\n        const rulesStr = jsonStr.slice(bracketOpen + 1, lastCompleteRuleEnd + 1);\n        const reconstructed = headerStr + rulesStr + \"]}\";\n        try {\n          parsed = JSON.parse(reconstructed);\n          recovered = true;\n          parsed.playbook_summary = parsed.playbook_summary || null;\n          parsed.extraction_confidence = parsed.extraction_confidence || null;\n          const ruleArray = parsed.rules || parsed.clause_inventory || [];\n          parsed.total_rules_extracted = ruleArray.length;\n          parsed._truncation_recovered = true;\n          parsed._recovery_strategy = \"depth-tracking\";\n          parsed._original_error = firstError.message;\n        } catch (_strategyAParseError) {\n          // Boundary looked right but reconstruction is still malformed —\n          // fall through to Strategy B\n        }\n      }\n\n      // ---- Strategy B: backward scan through all '}' positions -------------\n      if (!recovered) {\n        const closingBraces = [];\n        for (let i = bracketOpen + 1; i < jsonStr.length; i++) {\n          if (jsonStr[i] === \"}\") closingBraces.push(i);\n        }\n\n        // Try from the rightmost '}' leftward — we typically succeed within\n        // the first few iterations (the truncation is near the end)\n        for (let idx = closingBraces.length - 1; idx >= 0 && !recovered; idx--) {\n          const cutoff = closingBraces[idx];\n          const rulesStr = jsonStr.slice(bracketOpen + 1, cutoff + 1);\n          const reconstructed = headerStr + rulesStr + \"]}\";\n          try {\n            parsed = JSON.parse(reconstructed);\n            recovered = true;\n            parsed.playbook_summary = parsed.playbook_summary || null;\n            parsed.extraction_confidence = parsed.extraction_confidence || null;\n            const ruleArray = parsed.rules || parsed.clause_inventory || [];\n            parsed.total_rules_extracted = ruleArray.length;\n            parsed._truncation_recovered = true;\n            parsed._recovery_strategy = \"backward-scan\";\n            parsed._original_error = firstError.message;\n          } catch (_strategyBParseError) {\n            // Keep scanning leftward\n          }\n        }\n      }\n    }\n  }\n\n  if (!recovered) {\n    throw new Error(\n      `Failed to parse Claude response and truncation recovery failed.\\n` +\n      `Original error: ${firstError.message}\\n` +\n      `Response length: ${rawContent.length} chars\\n` +\n      `Array key found: ${jsonStr.includes('\"rules\"') ? '\"rules\"' : jsonStr.includes('\"clause_inventory\"') ? '\"clause_inventory\"' : 'neither'}\\n` +\n      `Tip: increase max_tokens on the Claude node, or reduce document size.`\n    );\n  }\n}\n\n// ============================================================================\n// STEP 4: Normalise output\n// ============================================================================\n\n// Claude prompt uses \"rules\"; \"clause_inventory\" kept as legacy fallback\nconst rules = parsed.rules || parsed.clause_inventory || [];\n\nif (rules.length === 0) {\n  throw new Error(\n    \"Claude returned 0 rules. The document may be too short, in an unsupported \" +\n    \"format, or the response was truncated before any rules were extracted.\"\n  );\n}\n\n// The Claude HTTP node only returns the API response body — context fields\n// (playbookId, companyId, playbookName) were set in Prepare Claude Prompt.\nconst prepareData = $('Prepare Claude Prompt').first().json;\n\nreturn {\n  playbookId: prepareData.playbookId || null,\n  companyId: prepareData.companyId || null,\n  playbookName: prepareData.playbookName || null,\n  perspective: parsed.playbook_perspective || prepareData.perspective || \"customer\",\n  playbook_summary: parsed.playbook_summary || null,\n  extraction_confidence: parsed.extraction_confidence || null,\n  total_rules_extracted: rules.length,\n  rules,\n  extractedText: prepareData.extractedText || \"\",\n  // Diagnostic fields\n  wasTruncated,\n  truncationRecovered: parsed._truncation_recovered || false,\n  recoveryStrategy: parsed._recovery_strategy || null,\n  originalParseError: parsed._original_error || null,\n};\n"
            },
            "id": "4596bbbf-74e5-4e72-ad91-b2826bb73b12",
            "name": "Process Claude Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2736,
                -816
            ]
        },
        {
            "parameters": {
                "jsCode": "// ============================================================================\n// VALIDATE PLAYBOOK RULES — Post-extraction quality checks\n// Location: n8n-workflows/validate-playbook-rules.js\n//\n// Runs AFTER Process Claude Response, BEFORE Split Into Rules.\n// Adds quality_flags to each rule and sets hasQualityIssues flag.\n//\n// Copy this code into the n8n \"Validate Extracted Rules\" Code node.\n// ============================================================================\n\nconst input = $input.first().json;\nconst rules = input.rules || [];\n\n// ============================================================================\n// VALIDATION CHECKS\n// ============================================================================\n\n// Group rules by normalised category\nconst categoryGroups = {};\nfor (const rule of rules) {\n  const cat = (rule.category || \"general\").toLowerCase().trim();\n  if (!categoryGroups[cat]) categoryGroups[cat] = [];\n  categoryGroups[cat].push(rule);\n}\n\nfor (const rule of rules) {\n  if (!rule.quality_flags) rule.quality_flags = [];\n  // Parse quality_flags if it's a string (from prior step)\n  if (typeof rule.quality_flags === \"string\") {\n    try {\n      rule.quality_flags = JSON.parse(rule.quality_flags);\n    } catch {\n      rule.quality_flags = [];\n    }\n  }\n}\n\n// --------------------------------------------------------------------------\n// CHECK 1: Duplicate range_unit + scale_points within same category\n// --------------------------------------------------------------------------\nfor (const [cat, catRules] of Object.entries(categoryGroups)) {\n  for (let i = 0; i < catRules.length; i++) {\n    for (let j = i + 1; j < catRules.length; j++) {\n      const riCtx =\n        typeof catRules[i].range_context === \"string\"\n          ? JSON.parse(catRules[i].range_context || \"{}\")\n          : catRules[i].range_context;\n      const rjCtx =\n        typeof catRules[j].range_context === \"string\"\n          ? JSON.parse(catRules[j].range_context || \"{}\")\n          : catRules[j].range_context;\n\n      if (!riCtx || !rjCtx) continue;\n\n      const iLabels = (riCtx.scale_points || [])\n        .map((sp) => sp.label)\n        .join(\"|\");\n      const jLabels = (rjCtx.scale_points || [])\n        .map((sp) => sp.label)\n        .join(\"|\");\n\n      if (\n        riCtx.range_unit === rjCtx.range_unit &&\n        iLabels === jLabels &&\n        iLabels.length > 0\n      ) {\n        if (!catRules[i].quality_flags.includes(\"duplicate_range_in_category\"))\n          catRules[i].quality_flags.push(\"duplicate_range_in_category\");\n        if (!catRules[j].quality_flags.includes(\"duplicate_range_in_category\"))\n          catRules[j].quality_flags.push(\"duplicate_range_in_category\");\n      }\n    }\n  }\n}\n\n// --------------------------------------------------------------------------\n// CHECK 2: Mixed value types within a single rule's scale_points\n// --------------------------------------------------------------------------\nfor (const rule of rules) {\n  const ctx =\n    typeof rule.range_context === \"string\"\n      ? JSON.parse(rule.range_context || \"{}\")\n      : rule.range_context;\n\n  if (!ctx?.scale_points?.length) {\n    if (!rule.quality_flags.includes(\"missing_range_context\"))\n      rule.quality_flags.push(\"missing_range_context\");\n    continue;\n  }\n\n  const labels = ctx.scale_points.map((sp) => (sp.label || \"\").toLowerCase());\n  const hasPercentage = labels.some((l) => l.includes(\"%\"));\n  const hasDuration = labels.some((l) =>\n    /year|month|day|week|hour|perpetual|indefinite/i.test(l),\n  );\n  const hasCurrency = labels.some((l) => /\\$|£|€|gbp|usd|eur/i.test(l));\n  const typeCount = [hasPercentage, hasDuration, hasCurrency].filter(\n    Boolean,\n  ).length;\n\n  if (typeCount > 1) {\n    if (!rule.quality_flags.includes(\"mixed_value_types\"))\n      rule.quality_flags.push(\"mixed_value_types\");\n  }\n}\n\n// --------------------------------------------------------------------------\n// CHECK 3: Duplicate positions within same category\n// --------------------------------------------------------------------------\nfor (const [cat, catRules] of Object.entries(categoryGroups)) {\n  for (let i = 0; i < catRules.length; i++) {\n    for (let j = i + 1; j < catRules.length; j++) {\n      if (\n        catRules[i].ideal_position === catRules[j].ideal_position &&\n        catRules[i].minimum_position === catRules[j].minimum_position &&\n        catRules[i].maximum_position === catRules[j].maximum_position\n      ) {\n        if (\n          !catRules[i].quality_flags.includes(\"duplicate_positions_in_category\")\n        )\n          catRules[i].quality_flags.push(\"duplicate_positions_in_category\");\n        if (\n          !catRules[j].quality_flags.includes(\"duplicate_positions_in_category\")\n        )\n          catRules[j].quality_flags.push(\"duplicate_positions_in_category\");\n      }\n    }\n  }\n}\n\n// --------------------------------------------------------------------------\n// CHECK 4: Nonsensical scale progression (position 1 label > position 10)\n// --------------------------------------------------------------------------\nfor (const rule of rules) {\n  const ctx =\n    typeof rule.range_context === \"string\"\n      ? JSON.parse(rule.range_context || \"{}\")\n      : rule.range_context;\n\n  if (!ctx?.scale_points?.length) continue;\n\n  const sorted = [...ctx.scale_points].sort((a, b) => a.position - b.position);\n  const values = sorted.map((sp) => sp.value).filter((v) => v != null);\n\n  if (values.length >= 2) {\n    // Check monotonic progression\n    let nonMonotonic = false;\n    for (let k = 1; k < values.length; k++) {\n      if (values[k] < values[k - 1]) {\n        nonMonotonic = true;\n        break;\n      }\n    }\n    // Note: some scales are intentionally descending (e.g., payment days: 90→7)\n    // So only flag if it's neither monotonically increasing nor decreasing\n    if (nonMonotonic) {\n      let allDescending = true;\n      for (let k = 1; k < values.length; k++) {\n        if (values[k] > values[k - 1]) {\n          allDescending = false;\n          break;\n        }\n      }\n      if (!allDescending) {\n        if (!rule.quality_flags.includes(\"non_monotonic_scale\"))\n          rule.quality_flags.push(\"non_monotonic_scale\");\n      }\n    }\n  }\n}\n\n// ============================================================================\n// STRINGIFY quality_flags + range_context for SQL insertion\n// Stamp playbook_id onto each rule so Insert Rule can access it via $json.playbook_id\n// ============================================================================\nconst playbookId = input.playbookId || null;\n\n// Assign display_order sequentially within each category (1-based, sorted by clause_code)\nconst categoryOrder = {};\nconst sortedForOrder = [...rules].sort((a, b) =>\n  (a.clause_code || '').localeCompare(b.clause_code || '')\n);\nfor (const rule of sortedForOrder) {\n  const cat = (rule.category || 'general').toLowerCase().trim();\n  categoryOrder[cat] = (categoryOrder[cat] || 0) + 1;\n  rule.display_order = categoryOrder[cat];\n}\n\nfor (const rule of rules) {\n  rule.playbook_id = playbookId;\n  rule.quality_flags = JSON.stringify(rule.quality_flags || []);\n  if (rule.range_context && typeof rule.range_context !== 'string') {\n    rule.range_context = JSON.stringify(rule.range_context);\n  }\n}\n\n// ============================================================================\n// SUMMARY\n// ============================================================================\nconst flaggedRules = rules.filter((r) => {\n  const flags = JSON.parse(r.quality_flags || \"[]\");\n  return flags.length > 0;\n});\n\nconst hasQualityIssues = flaggedRules.length > 0;\n\nconst flagSummary = {};\nfor (const rule of rules) {\n  const flags = JSON.parse(rule.quality_flags || \"[]\");\n  for (const flag of flags) {\n    flagSummary[flag] = (flagSummary[flag] || 0) + 1;\n  }\n}\n\nreturn {\n  ...input,\n  rules,\n  hasQualityIssues,\n  flaggedRuleCount: flaggedRules.length,\n  flagSummary,\n};\n"
            },
            "id": "691d0936-a558-45af-884a-8f64589517eb",
            "name": "Validate Extracted Rules",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2960,
                -816
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "rules",
                "options": {}
            },
            "id": "67110ef9-2c89-4d38-9836-5e6509da42cd",
            "name": "Split Into Rules",
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                3184,
                -816
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO playbook_rules (\n  playbook_id,\n  clause_code,\n  clause_name,\n  category,\n  ideal_position,\n  minimum_position,\n  maximum_position,\n  fallback_position,\n  rationale,\n  negotiation_tips,\n  talking_points,\n  common_objections,\n  counter_arguments,\n  escalation_trigger,\n  escalation_contact,\n  requires_approval_below,\n  importance_level,\n  is_deal_breaker,\n  is_non_negotiable,\n  display_order,\n  is_active,\n  range_context,\n  source_quote,\n  quality_flags\n) VALUES (\n  '{{ $json.playbook_id }}'::uuid,\n  '{{ ($json.clause_code || \"\").replace(/'/g, \"''\") }}',\n  '{{ ($json.clause_name || \"\").replace(/'/g, \"''\") }}',\n  '{{ ($json.category || \"general\").replace(/'/g, \"''\") }}',\n  {{ $json.ideal_position || 5 }},\n  {{ $json.minimum_position || 3 }},\n  {{ $json.maximum_position || 10 }},\n  {{ $json.fallback_position || 5 }},\n  {{ ($json.rationale != null && $json.rationale !== undefined) ? \"'\" + String($json.rationale).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  {{ ($json.negotiation_tips != null && $json.negotiation_tips !== undefined) ? \"'\" + String($json.negotiation_tips).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  {{ ($json.talking_points != null && $json.talking_points !== undefined) ? \"'\" + String($json.talking_points).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  {{ ($json.common_objections != null && $json.common_objections !== undefined) ? \"'\" + String($json.common_objections).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  {{ ($json.counter_arguments != null && $json.counter_arguments !== undefined) ? \"'\" + String($json.counter_arguments).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  {{ ($json.escalation_trigger != null && $json.escalation_trigger !== undefined) ? \"'\" + String($json.escalation_trigger).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  {{ ($json.escalation_contact != null && $json.escalation_contact !== undefined) ? \"'\" + String($json.escalation_contact).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  {{ ($json.requires_approval_below != null && $json.requires_approval_below !== undefined) ? $json.requires_approval_below : \"NULL\" }},\n  {{ $json.importance_level || 5 }},\n  {{ $json.is_deal_breaker || false }},\n  {{ $json.is_non_negotiable || false }},\n  {{ $json.display_order || 1 }},\n  {{ $json.is_active !== false }},\n  {{ ($json.range_context != null && $json.range_context !== undefined) ? \"'\" + String($json.range_context).replace(/'/g, \"''\") + \"'::jsonb\" : \"NULL\" }},\n  {{ ($json.source_quote != null && $json.source_quote !== undefined) ? \"'\" + String($json.source_quote).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  {{ ($json.quality_flags != null && $json.quality_flags !== undefined) ? \"'\" + String($json.quality_flags).replace(/'/g, \"''\") + \"'::jsonb\" : \"'[]'::jsonb\" }}\n)\nRETURNING rule_id",
                "options": {}
            },
            "id": "09bacf2c-9270-43c5-a2d9-d05c099ff907",
            "name": "Insert Rule",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                3408,
                -816
            ],
            "credentials": {
                "postgres": {
                    "id": "ZH5KS5KZA0pid8fg",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData",
                "options": {}
            },
            "id": "885dc4af-733f-48ce-935a-825e530a9512",
            "name": "Aggregate Results",
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                3632,
                -816
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE company_playbooks\nSET \n  status = CASE \n    WHEN {{ $('Process Claude Response').first().json.extraction_confidence ?? 0 }} >= 0.7 AND {{ !$('Validate Extracted Rules').first().json.hasQualityIssues }} THEN 'parsed'\n    ELSE 'review_required'\n  END,\n  ai_confidence_score = {{ $('Process Claude Response').first().json.extraction_confidence ?? null }},\n  rules_extracted = {{ $('Process Claude Response').first().json.total_rules_extracted ?? 0 }},\n  playbook_summary = '{{ ($('Process Claude Response').first().json.playbook_summary || \"\").replace(/'/g, \"''\").replace(/\\n/g, \" \") }}',\n  parsing_error = NULL,\n  updated_at = NOW()\nWHERE playbook_id = '{{ $('Validate Input').first().json.playbookId }}'::uuid\nRETURNING *",
                "options": {}
            },
            "id": "87a112e3-92fa-4635-974f-9121068a61e9",
            "name": "Update Playbook Complete",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                3856,
                -816
            ],
            "credentials": {
                "postgres": {
                    "id": "ZH5KS5KZA0pid8fg",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// ============================================================================\n// SECTION 4: BUILD SUCCESS RESPONSE\n// ============================================================================\n\nconst processedData = $('Process Claude Response').first().json;\nconst validationData = $('Validate Extracted Rules').first().json;\nconst aggregatedData = $('Aggregate Results').first().json;\nconst updatedPlaybook = $('Update Playbook Complete').first().json;\n\nconst insertedRulesCount = aggregatedData?.data?.length || processedData.total_rules_extracted || 0;\nconst extractionConfidence = processedData.extraction_confidence ?? 0;\n\nreturn {\n  success: true,\n  playbookId: processedData.playbookId,\n  playbookName: updatedPlaybook.playbook_name,\n  status: updatedPlaybook.status,\n  summary: processedData.playbook_summary,\n  extractionConfidence,\n  rulesExtracted: processedData.total_rules_extracted || 0,\n  rulesInserted: insertedRulesCount,\n  requiresReview: extractionConfidence < 0.7 || (validationData?.hasQualityIssues || false),\n  qualityIssues: validationData?.hasQualityIssues || false,\n  flaggedRuleCount: validationData?.flaggedRuleCount || 0,\n  flagSummary: validationData?.flagSummary || {},\n  timestamp: new Date().toISOString()\n};\n"
            },
            "id": "6e8153d1-c17d-4892-8256-458d90effbd7",
            "name": "Build Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                4080,
                -816
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, message: 'Parse started', playbookId: $('Validate Input').first().json.playbookId }) }}",
                "options": {
                    "responseCode": 202,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "=Access-Control-Allow-Methods",
                                "value": "POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type"
                            }
                        ]
                    }
                }
            },
            "id": "876a6fff-16c6-4f55-8161-1311455ed00b",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                2288,
                -912
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.anthropic.com/v1/messages",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "anthropic-version",
                            "value": "2023-06-01"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 32000,\n  \"temperature\": 0,\n  \"system\": {{ JSON.stringify($json.systemPrompt) }},\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.userPrompt) }}\n    }\n  ]\n}",
                "options": {
                    "timeout": 600000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                2512,
                -816
            ],
            "id": "613207dc-d1aa-431a-b9ed-c58f6a149eb1",
            "name": "Claude AI Extract Rules",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "xYYWl2zK5GgqiQf8",
                    "name": "Anthropic API Key"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const input = $input.first().json;\n\nreturn {\n  json: {\n    _logPayload: {\n      journeyType: \"playbook_upload\",\n      stepName: \"parse_playbook_workflow_triggered\",\n      stepNumber: 6,\n      stepCategory: \"workflow\",\n      status: \"started\",\n      sourceSystem: \"n8n\",\n      sourceIdentifier: \"parse-playbook\",\n      context: {\n        playbookId: input.playbookId || null,\n        workflowVersion: \"v2\",\n      },\n    },\n  },\n};\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1840,
                -624
            ],
            "id": "bc035a40-f19f-45ed-b3ff-0fff30420d5d",
            "name": "Log Prepare Start Event"
        },
        {
            "parameters": {
                "jsCode": "const input = $(\"Prepare Claude Prompt\").first().json;\nconst metadata = $(\"Get Playbook Metadata\").first().json;\n\nreturn {\n  json: {\n    _logPayload: {\n      journeyType: \"playbook_upload\",\n      stepName: \"ai_playbook_parse_started\",\n      stepNumber: 7,\n      stepCategory: \"ai\",\n      status: \"started\",\n      sourceSystem: \"n8n\",\n      sourceIdentifier: \"parse-playbook\",\n      context: {\n        playbookId: $(\"Validate Input\").first().json.playbookId,\n        companyId: metadata.company_id || null,\n        playbookName: metadata.playbook_name || null,\n        textLength: (input.userPrompt || \"\").length,\n      },\n    },\n  },\n};\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2512,
                -624
            ],
            "id": "89dfc8b3-70ea-4063-b81f-82e6760c6196",
            "name": "Pepare Log AI Parse Event"
        },
        {
            "parameters": {
                "jsCode": "const response = $(\"Build Response\").first().json;\nconst startTime = $(\"Validate Input\").first().json.timestamp;\nconst durationMs = startTime\n  ? new Date().getTime() - new Date(startTime).getTime()\n  : null;\n\nreturn {\n  json: {\n    _logPayload: {\n      journeyType: \"playbook_upload\",\n      stepName: \"parse_playbook_workflow_completed\",\n      stepNumber: 11,\n      stepCategory: \"workflow\",\n      status: response.success ? \"completed\" : \"failed\",\n      sourceSystem: \"n8n\",\n      sourceIdentifier: \"parse-playbook\",\n      startedAt: startTime || null,\n      completedAt: new Date().toISOString(),\n      durationMs: durationMs,\n      errorMessage: response.success ? null : response.error || \"Parse failed\",\n      context: {\n        playbookId: response.playbookId || null,\n        rulesExtracted: response.rulesExtracted || 0,\n        extractionConfidence: response.extractionConfidence || null,\n        requiresReview: response.requiresReview || false,\n      },\n    },\n  },\n};\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                4304,
                -816
            ],
            "id": "cea8ae6c-e3cd-4700-a0ed-6e22fc96139a",
            "name": "Log Prepare Completion Event"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://spikeislandstudios.app.n8n.cloud/webhook/clarence-event-log",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "={{ JSON.stringify($json._logPayload) }}",
                "bodyParameters": {
                    "parameters": [
                        {}
                    ]
                },
                "options": {
                    "timeout": 5000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                2736,
                -624
            ],
            "id": "3ae7462a-e624-410f-ba52-2cca6eaf4daf",
            "name": "Send Prompt to AI",
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://spikeislandstudios.app.n8n.cloud/webhook/clarence-event-log",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "={{ JSON.stringify($json._logPayload) }}",
                "bodyParameters": {
                    "parameters": [
                        {}
                    ]
                },
                "options": {
                    "timeout": 5000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                2064,
                -624
            ],
            "id": "8c64d416-b611-49f0-b312-3232d2deb536",
            "name": "Playbook Input Validated",
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://spikeislandstudios.app.n8n.cloud/webhook/clarence-event-log",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "={{ JSON.stringify($json._logPayload) }}",
                "bodyParameters": {
                    "parameters": [
                        {}
                    ]
                },
                "options": {
                    "timeout": 5000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                4528,
                -816
            ],
            "id": "91d4fcef-24d0-453a-8aef-ac77e54c8bac",
            "name": "Playbook Uploaded & Completed",
            "onError": "continueRegularOutput"
        }
    ],
    "connections": {
        "Webhook - Parse Playbook": {
            "main": [
                [
                    {
                        "node": "Validate Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Input": {
            "main": [
                [
                    {
                        "node": "Log Prepare Start Event",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Get Playbook Metadata",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Playbook Metadata": {
            "main": [
                [
                    {
                        "node": "Update Status to Parsing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Status to Parsing": {
            "main": [
                [
                    {
                        "node": "Prepare Claude Prompt",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Claude Prompt": {
            "main": [
                [
                    {
                        "node": "Claude AI Extract Rules",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Pepare Log AI Parse Event",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Claude Response": {
            "main": [
                [
                    {
                        "node": "Validate Extracted Rules",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Extracted Rules": {
            "main": [
                [
                    {
                        "node": "Split Into Rules",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Into Rules": {
            "main": [
                [
                    {
                        "node": "Insert Rule",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Insert Rule": {
            "main": [
                [
                    {
                        "node": "Aggregate Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate Results": {
            "main": [
                [
                    {
                        "node": "Update Playbook Complete",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Playbook Complete": {
            "main": [
                [
                    {
                        "node": "Build Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Response": {
            "main": [
                [
                    {
                        "node": "Log Prepare Completion Event",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude AI Extract Rules": {
            "main": [
                [
                    {
                        "node": "Process Claude Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Prepare Start Event": {
            "main": [
                [
                    {
                        "node": "Playbook Input Validated",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Pepare Log AI Parse Event": {
            "main": [
                [
                    {
                        "node": "Send Prompt to AI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Prepare Completion Event": {
            "main": [
                [
                    {
                        "node": "Playbook Uploaded & Completed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "9a61ad3a4b4343955ebf6507bf60bd76631c703df83526bf98c5c403fa94f01c"
    }
}